@{
    ViewData["Title"] = "الصفحة الرئيسية";
}

<head>

    <link rel="stylesheet" href="~/css/Addbranches.css" asp-append-version="true" />

</head>
<br />
<br />
<partial name="_Notification" />
<body style="background-color:#acc3d8;">


    <div class="row">

        <div class="col-sm-3" style="z-index:2;">

            <div class="vertical-nav bg-white" style="position:absolute" id="sidebar">
                <div class="py-4 px-3 mb-4 bg-light">
                    <div class="media d-flex align-items-center">
                        <img src="~/@ViewBag.OrganizationImage" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
                        <div class="media-body">
                            <h4 class="m-0">@ViewBag.OrganizationName</h4>
                        </div>
                    </div>
                </div>
                <h5> مرحبا بك @ViewBag.Username </h5>

                <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">القائمة</p>

                <ul class="nav flex-column bg-white mb-0">
                    <li class="nav-item">
                        <a asp-controller="Branch" asp-action="Index" class="nav-link text-dark font-italic bg-light">
                            <i class="fa-solid fa-house text-primary"></i>
                            الصفحة الرئيسية
                        </a>
                    </li>
                    <li class="nav-item" id="fff">
                        <a asp-controller="Branch" asp-action="ManageDepartment" class="nav-link text-dark font-italic ">
                            <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
                            إدارة الاقسام
                        </a>
                    </li>
                    <li class="nav-item" id="ff2">
                        <a asp-controller="Branch" asp-action="ViewSupervisorsUser" class="nav-link text-dark font-italic ">
                            <i class="fa-solid fa-building-user"></i>
                            إدارة مشرفين التدريب


                        </a>
                    </li>


                    <li class="nav-item" id="ff3">
                        <a asp-controller="branch" asp-action="ViewDepartmentFiledSpecialties" class="nav-link text-dark font-italic ">
                            <i class="fa-solid fa-book-open-reader"></i>
                            إدارة التخصصات
                        </a>
                    </li>

                    <li class="nav-item" id="ff4">
                        <a asp-controller="branch" asp-action="ViewOpportunities" class="nav-link text-dark font-italic ">
                            <i class="fa-solid fa-person-chalkboard"></i>
                            إدارة الفرص
                        </a>
                    </li>


                </ul>

                <div>
                    <a class="btn " id="btn1">
                        <i class="fa-solid fa-person-circle-question"></i>
                        احتاج مساعدة

                    </a>
                </div>


            </div>


            <!-- End vertical navbar1 -->
            <!-- Page content holder1 -->
            <div class="page-content p-1" id="content">
                <!-- Toggle button -->
                <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">القائمة</small></button>
            </div>


        </div>

        <div class="col-sm-8" style="margin-bottom:10cm">
            <div class="row">




                <div class="col-md-4 " style="background-color:#acc3d8;direction:ltr" id="piechart">
                </div>

                <div class="col-md-4 ">
                    <div class="card mb-3 text-center" style="max-width: 30rem; background: linear-gradient(#9DB2BF, #526D82
);">
                        <div class="card-body">
                            <h class="card-title" style="font-size:45px">
                                <i class="fa-solid fa-file-signature" style="color:white"></i>
                            </h>
                            <p class="card-text" style="font-weight:bold;font-size:60px;color:white">@ViewBag.Request</p>
                            <p class="card-text" style="font-weight:bold;font-size:25px;color:white">طلبات الالتحاق بالفرص</p>

                        </div>
                    </div>
                    <div class="card text-white bg-info mb-3 text-center" style="max-width: 30rem;background: linear-gradient(#C7E8CA, #DDF7E3);">
                        <div class="card-body">
                            <h class="card-title" style="font-size:45px">
                                <i class="fa-solid fa-circle-check" style="color: #5D9C59;"></i>
                            </h>
                            <p class="card-text" style="font-weight:bold;font-size:60px;color:black">@ViewBag.Approve</p>
                            <p class="card-text" style="font-weight:bold;font-size:25px; color:black">عدد الطلاب المقبولين</p>

                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-4 pb-2">
                    <div class="card text-white  mb-3 text-center" style="max-width: 30rem;background: linear-gradient(#F9F5EB, #E4DCCF );">
                        <div class="card-body">
                            <h class="card-title" style="font-size:45px">
                                <i class="fa-solid fa-layer-group" style="color: #000000;"></i>
                            </h>
                            <p class="card-text" style="font-weight:bold;font-size:60px;color:black">@ViewBag.Oper</p>
                            <p class="card-text" style="font-weight:bold;font-size:25px;color:black">عدد الفرصة </p>

                        </div>
                    </div>
                    <div class="card  mb-3 text-center" style="max-width: 30rem;background: linear-gradient(#FFF9DE , #FFD3B0); ">
                        <div class="card-body">
                            <h class="card-title" style="font-size:45px">
                                <i class="fa-brands fa-slideshare" style="color: #000000;"></i>
                            </h>
                            <p class="card-text" style="font-weight:bold;font-size:60px;color:black">@ViewBag.Avalibe </p>
                            <p class="card-text" style="font-weight:bold;font-size:25px;color:black;">عدد المقاعد المتاحة</p>

                        </div>
                    </div>

                </div>

            </div>

            <div class="col-sm-1"></div>
        </div>

    </div>

</body>
@section Scripts{

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script>

        google.charts.load('current', { packages: ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);


        function drawChart() {


            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
            //var data = [];

            var options = {
                title: 'نسب الطلاب المتدربين حسب الشركات',
                pieHole: 0.4,
                pieHole: 0.4,
                width: 500,
                height: 500,
                colors: ['#6096B4', '#93BFCF', '#BDCDD6', '#EEE9DA', '#325d73'],
                backgroundColor: '#acc3d8',
                fontSize: 20,
                bold: true,
            };

            $(document).ready(function () {



                $.ajax({
                    type: 'GET',
                    url: "@Url.Action("GetStudentByUniAjax")",
                    dataType: "json",



                    success: function (data) {

                        //console.log(data.student[0].employeeAcademicSupervisor.department.organization.organizationName);


                        var dataa = new google.visualization.DataTable();

                        // Declare columns
                        dataa.addColumn('string', 'Univerty');
                        dataa.addColumn('number', 'countty');


                        //var loop=0;

                        $.each(data.organizationStudentList, function (key, value) {

                            console.log(value.organizationName, value.studentsCount);



                            dataa.addRows([

                                [value.organizationName, value.studentsCount]

                            ]);





                        });


                        if (dataa.Wf.length == 0) {
                            dataa.addRows([

                                ["لايوجد طلاب قيد التدريب", 1]

                            ]);
                        }



                        chart.draw(dataa, options);

                    }


                });

            });







        }
    </script>



    <script>
        $(function () {
            // Sidebar toggle behavior
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
            });
        });

        // giude tour
        // giude tour
        document.getElementById('btn1')
            .addEventListener('click', function (event) {
                event.stopPropagation();

                const driver = new Driver();
                // Define Steps

                animate: false
                driver.defineSteps([
                    {
                        element: '#fff',
                        popover: {
                            //className: 'first-step-popover-class',
                            title: 'أولاً : اضف قسم ',
                            description: 'الرجاء اضافة جميع الاقسام في هذا الفرع',
                            position: 'left',
                            closeBtnText: 'اغلق', // Text on the close button for this step
                            nextBtnText: 'التالي', // Next button text for this step
                            prevBtnText: 'السابق', // Previous button text for this step
                            doneBtnText: 'انتهيت', // Text on the final button


                        }
                    },
                    {
                        element: '#ff2',
                        popover: {
                            title: 'ثانياً : اضافة المشرفين',
                            description: 'الرجاء اضافة المشرفين لتعيينهم بالفرصة  التدريبية لاحقاً',
                            position: 'left',
                            closeBtnText: 'اغلق', // Text on the close button for this step
                            nextBtnText: 'التالي', // Next button text for this step
                            prevBtnText: 'السابق', // Previous button text for this step
                            doneBtnText: 'انتهيت', // Text on the final button

                        }
                    },
                    {
                        element: '#ff3',
                        popover: {
                            title: 'ثالثاً : اضف التخصصات ',
                            description: 'الرجاء تعيين تخصصات لكل قسم.. علما بأن التخصصات المتاحة لديك سبق وان اضافها لك مسوؤل الشركة',
                            position: 'left',
                            closeBtnText: 'اغلق', // Text on the close button for this step
                            doneBtnText: 'انتهيت', // Text on the final button

                            nextBtnText: 'التالي', // Next button text for this step
                            prevBtnText: 'السابق', // Previous button text for this step
                        }
                    },
                    {
                        element: '#ff4',
                        popover: {
                            title: ' رابعاً : اضافة فرص تدريبية والموافقة على المتقدمين  ',
                            description: ' بعد اكمال جميع الخطوات السابقة  تستطيع الان اضافة فرصة للتدريب وادارتها ',
                            position: 'left',
                            doneBtnText: 'انتهيت', // Text on the final button
                            closeBtnText: 'اغلق', // Text on the close button for this step
                            nextBtnText: 'التالي', // Next button text for this step
                            prevBtnText: 'السابق', // Previous button text for this step
                        }
                    },
                ]);
                // Begin to guide
                driver.start();






            });
    </script>





    }