@model StudentRequestOpportunity



@{
    ViewData["Title"] = "معلومات الفرصة";
}

<head>

    <link rel="stylesheet" href="~/css/Addbranches.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/boostwatch.css" />


</head>

<body style="background: linear-gradient(#1c4c64,#5590ad); ">

    <div class="row">

        <div class="col-sm-2" style="z-index:2;">

            <div class="vertical-nav bg-white" id="sidebar">
                <div class="py-4 px-3 mb-4 bg-light">
                    <div class="media d-flex align-items-center">
                        <img src="~/@ViewBag.OrganizationImage" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
                        <div class="media-body">
                            <h4 class="m-0">@ViewBag.OrganizationName</h4>
                        </div>
                    </div>
                </div>
                <h5> مرحبا بك @ViewBag.Username </h5>

                <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">القائمة</p>


                <ul class="nav flex-column bg-white mb-0">
                    <li class="nav-item">
                        <a asp-controller="Branch" asp-action="Index" class="nav-link text-dark font-italic ">
                            <i class="fa-solid fa-house"></i>
                            الصفحة الرئيسية
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Branch" asp-action="ManageDepartment" class="nav-link text-dark font-italic  ">
                            <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
                            إدارة الاقسام
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Branch" asp-action="ViewSupervisorsUser" class="nav-link text-dark font-italic  ">
                            <i class="fa-solid fa-building-user"></i>
                            إدارة مشرفين التدريب

                        </a>
                    </li>


                    <li class="nav-item">
                        <a asp-controller="branch" asp-action="ViewDepartmentFiledSpecialties" class="nav-link text-dark font-italic ">
                            <i class="fa-solid fa-book-open-reader text-primary"></i>
                            إدارة التخصصات
                        </a>
                    </li>

                    <li class="nav-item">
                        <a asp-controller="branch" asp-action="ViewOpportunities" class="nav-link text-dark font-italic ">
                            <i class="fa-solid fa-person-chalkboard"></i>
                            إدارة الفرص
                        </a>
                    </li>


                </ul>




            </div>


            <!-- End vertical navbar -->
            <!-- Page content holder -->
            <div class="page-content p-1" id="content">
                <!-- Toggle button -->
                <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">القائمة</small></button>
            </div>


        </div>

        <div class="col-sm-8">

            <form method="post">
                <div class="card  container ">

                    <div class="card-body row ">
                        <div class="container">
                            <div class="card-header  ml-0  row " style="background-color:#325D73">
                                <div class="col-12 col-md-6 text-end pt-4 " style="color:white">
                                    <h4>
                                        معلومات الطالب
                                    </h4>

                                </div>

                            </div>
                            <div class="row">
                                <div class="col-12 col-lg-3 offset-lg-1 text-center">
                                    <img src="~/@Model.student.department.universityCollege.organization.LogoPath" title="" alt="" style="position:center; width:60%; height:auto">
                                </div>
                                <div class="col-8 col-lg-8">

                                    <div class="row text-center pl-2 " style="font-size:20px">
                                        <div class="p-1 col-4 bg-secondary border-bottom">
                                            <div><i class="fa-solid fa-user"></i> اسم الطالب   :</div>
                                        </div>

                                        <div class="p-1 col-4 bg-secondary border-bottom">

                                            <div>
                                                <i class="fa-solid fa-building-columns"></i> اسم الجامعة :

                                            </div>

                                        </div>
                                        <div class="p-1 col-4 bg-secondary border-bottom">
                                            <div>التخصص:  </div>
                                        </div>

                                    </div>

                                    <div class="row text-center pl-2" style="color:darkslateblue; font-weight:bold; font-size:16px">
                                        <div class="p-1 col-4 bg-secondary">
                                            <div>@Model.student.user.FullName</div>
                                        </div>
                                        <div class="p-1 col-4 bg-secondary">
                                            <div>@Model.student.department.universityCollege.organization.OrganizationName</div>
                                        </div>
                                        <div class="p-1 col-4 bg-secondary">
                                            <div>@Model.student.department.DepartmentName</div>
                                        </div>

                                    </div>

                                    <div class="row text-center pl-2" style="font-size:20px">
                                        <div class="p-1 col-4 bg-secondary border-bottom">
                                            <div><i class="fa-regular fa-envelope"></i> البريد الإلكتروني:</div>
                                        </div>
                                        <div class="p-1 col-4 bg-secondary border-bottom">
                                            <div><i class="fa-solid fa-phone"></i> رقم الهاتف:</div>
                                        </div>
                                        <div class="p-1 col-4 bg-secondary border-bottom">
                                            <div><i class="fa-solid fa-person-half-dress"></i> الجنس:</div>
                                        </div>

                                    </div>

                                    <div class="row text-center pl-2" style="color:darkslateblue; font-weight:bold; font-size:16px">
                                        <div class="p-1 col-4 bg-secondary">
                                            <div>@Model.student.user.UserEmail</div>
                                        </div>
                                        <div class="p-1 col-4 bg-secondary">
                                            <div>@Model.student.user.Phone</div>
                                        </div>
                                        <div class="p-1 col-4 bg-secondary">
                                            <div>@Model.student.Gender</div>
                                        </div>

                                    </div>

                                    <div class="row text-center pl-2" style="font-size:20px">
                                        <div class="p-1 col-4 bg-secondary border-bottom">
                                            <div><i class="fa-solid fa-building-user"></i> المدينة:</div>
                                        </div>
                                        <div class="p-1 col-4 bg-secondary border-bottom">
                                            <div>المعدل التراكمي:</div>
                                        </div>
                                        <div class="p-1 col-4 bg-secondary border-bottom">
                                            <div><i class="fa-regular fa-clock"></i> عدد الساعات :</div>
                                        </div>

                                    </div>

                                    <div class="row text-center pl-2" style="color:darkslateblue; font-weight:bold; font-size:16px">
                                        <div class="p-1 col-4 bg-secondary">
                                            <div>@Model.student.department.universityCollege.city.CityName</div>
                                        </div>
                                        <div class="p-1 col-4 bg-secondary">
                                            <div>@Model.student.GPA</div>
                                        </div>
                                        <div class="p-1 col-4 bg-secondary">
                                            <div>@Model.student.CompletedHours</div>
                                        </div>

                                    </div>
                                    <br /><br />
                                    <div class="row pl-2   ">
                                        <p class="text-secondary h5">وصف مهارات الطالب:</p>
                                        <p class="">وصف مهارات الطالب</p>
                                    </div>
                                    <br />
                                    <button type="button" asp style="font-size:18px; background-color:#1c4c64; color:white;" class="btn " onclick="showCV()" >عرض السيرة الذاتية</button>
                                    &nbsp;&nbsp;
                                    <button type="button" asp style="font-size:18px;background-color:#1c4c64; color:white;" class="btn " onclick="showExtra()">ملفات اخرى</button>
                                </div>

                                <h5 style="display:none" id="ExtraDMessage"> لايوجد ملف مرفق </h5>

                            </div>

                            <br />

                            <object data="~/@Model.student.CV_Path" type="application/pdf" id="Dcv" width="100%" height="500px" style="display:none">

                                <p>Unable to display PDF file. <a href="~/@Model.student.CV_Path">Download</a> instead.</p>

                            </object>


                            <object data="~/@Model.student.ExtraDocuments_Path" type="application/pdf" id="Extra" width="100%" height="500px" style="display:none">

                                <p>Unable to display PDF file. <a href="~/@Model.student.ExtraDocuments_Path">Download</a> instead.</p>

                            </object>


                            <input asp-for="student.ExtraDocuments_Path" id="ExtraV" hidden />




                        </div>
                    </div>


                    <br />
                    <div class="card-footer align-content-center">
                        <div class="row ">
                            <div class="col-md-12">
                                <br />
                                <input asp-for="student.TraineeId" hidden />

                                <div class="form-group text-xxl-center">

                                    <button type="button" onclick="Accept(@Model.StudentRequestOpportunityId)" style="font-size:18px;background-color:darkgreen;color:white" class="btn ">قبول</button>

                                    &nbsp;&nbsp;
                                    <button type="button" onclick="Reject(@Model.StudentRequestOpportunityId)" style="font-size:18px;background-color:darkred;color:white" class="btn ">رفض</button>
                                    &nbsp;&nbsp;
                                    <button type="button" onclick="GoBack()" style="font-size:18px; background-color:grey;color:white" class="btn ">الرجوع الى الخلف</button>
                                </div>

                            </div>

                        </div>
                        <br />
                    </div>
                </div>
            </form>
        </div>



    </div>

    <div class="col-sm-2"></div>

    <br />
    <br />

</body>

@section Scripts{



    <script>
        $(function () {
            // Sidebar toggle behavior
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
            });
        });


        function showCV() {
            document.getElementById("Extra").style.display = "none";
            document.getElementById("ExtraDMessage").style.display = "none";
            document.getElementById("Dcv").style.display = "block";
        }

        function showExtra() {
            var Extravl = document.getElementById("ExtraV").value;



            if (Extravl == "") {

                document.getElementById("Extra").style.display = "none";
                document.getElementById("Dcv").style.display = "none";
                document.getElementById("ExtraDMessage").style.display = "block";
            }

            else {
                document.getElementById("Dcv").style.display = "none";
                document.getElementById("ExtraDMessage").style.display = "none";
                document.getElementById("Extra").style.display = "block";
            }

        }

        function Accept(RID) {


            $.ajax({
                url: "@Url.Action("Accept")",
                type: 'POST',
                data: { Rid: RID },

                success: function (data) {

                    if (data.success) {



                        window.location.replace(`@Url.Action("OpportunitiesApplicants")?id=@Model.TrainingOpportunity_TrainingOpportunityId`);


                        //localhost:7122/Branch/OpportunitiesApplicants?id=@Model.TrainingOpportunity_TrainingOpportunityId`
                    }
                    else {

                        window.location.replace(`@Url.Action("OpportunitiesApplicants")?id=@Model.TrainingOpportunity_TrainingOpportunityId`);

                        // window.location.replace(`//localhost:7122/Branch/OpportunitiesApplicants?id=@Model.TrainingOpportunity_TrainingOpportunityId`);

                    }


                }


            });


        }


        function Reject(RID) {


            $.ajax({
                url: "@Url.Action("Reject")",
                type: 'POST',
                data: { Rid: RID },

                success: function (data) {

                    if (data.success) {


                        window.location.replace(`@Url.Action("OpportunitiesApplicants")?id=@Model.TrainingOpportunity_TrainingOpportunityId`);

                       // window.location.replace(`//localhost:7122/Branch/OpportunitiesApplicants?id=@Model.TrainingOpportunity_TrainingOpportunityId`);



                    }
                    else {

                        window.location.replace(`@Url.Action("OpportunitiesApplicants")?id=@Model.TrainingOpportunity_TrainingOpportunityId`);

                        //window.location.replace(`//localhost:7122/Branch/OpportunitiesApplicants?id=@Model.TrainingOpportunity_TrainingOpportunityId`);
                    }


                }


            });


        }


        function GoBack()
        {
            window.location.replace(`@Url.Action("OpportunitiesApplicants")?id=@Model.TrainingOpportunity_TrainingOpportunityId`);

           //window.location.replace(`//localhost:7122/Branch/OpportunitiesApplicants?id=@Model.TrainingOpportunity_TrainingOpportunityId`);
        }

    </script>


    }
