@model StudentSemesterEvaluationMark

@{
    ViewData["Title"] = " تقييم التقرير";
}

<head>

    <link rel="stylesheet" href="~/css/Addbranches.css" asp-append-version="true" />


</head>

@{
    var SohwForm = "";

    var ShowDoc = "";

    if (!String.IsNullOrEmpty(Model.SupportiveDocumentsPath))
    {
        SohwForm = "none";
        ShowDoc = "block";
    }
    else
    {
        ShowDoc = "none";
        SohwForm = "block";
    }
}

<body style="background: linear-gradient(#1c4c64,#5590ad);">

    <div class="row">

        <div class="col-sm-3" style="z-index:2;">

            <div class="vertical-nav bg-white" id="sidebar">
                <div class="py-4 px-3 mb-4 bg-light">
                    <div class="media d-flex align-items-center">
                        <img src="~/@ViewBag.OrganizationImage" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
                        <div class="media-body">
                            <h4 class="m-0">@ViewBag.OrganizationName</h4>
                        </div>
                    </div>
                </div>
                <h5> مرحبا بك @ViewBag.Username </h5>
                <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">القائمة</p>
               
                <ul class="nav flex-column bg-white mb-0">
                    <li class="nav-item">
                        <a asp-controller="AcadmicSupervisor" asp-action="index" class="nav-link text-dark font-italic bg-light">
                            <i class="fa-solid fa-house  mr-3 text-primary fa-fw "></i>
                            الصفحة الرئيسية
                        </a>
                    </li>

                   

                    <li class="nav-item">
                        <a asp-controller="AcadmicSupervisor" asp-action="AssignSemester" class="nav-link text-dark font-italic ">
                            <i class="fa-solid fa-users-rectangle"></i>
                            الفصول المسجلة
                        </a>
                    </li>


                </ul>


            </div>


            <!-- End vertical navbar -->
            <!-- Page content holder -->
            <div class="page-content p-1" id="content">
                <!-- Toggle button -->
                <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">القائمة</small></button>
            </div>


        </div>

        <div class="col-sm-8">
            <div class="card " style="border-radius: 25px; margin-top:2cm; margin-bottom:3cm; padding:5px 5px 5px 5px ; border-color:black;">
                <div class="card-header" style="text-align: center;">
                    <h3>تقييم    </h3>



                </div>

                <div class="card-body">

                    <p>نوع التقرير: @Model.assessmentTypeDetail.assessmentType.AssessmentTypeName</p>

                    @{
                        var stdmark = "لم يتم التقيم";
                        if (Model.StudentMark != null)
                            stdmark = Model.StudentMark.ToString();
                    }
                    <p>الدرجة: @stdmark من اصل @Model.assessmentTypeDetail.RequiredMark</p>


                  


                    <div class="container-fluid" id="filediv" style="display:@ShowDoc; height:50vh;">
                        <iframe src="~/@Model.SupportiveDocumentsPath" type="application/pdf" style="border:none; height:100%; width:100%"></iframe>
                    </div>



                    <form asp-controller="AcadmicSupervisor" asp-action="EvaluateStudentAssignment" method="post" id="form" class="mt-5">


                        <div class="mb-5">

                            <label for="uploadField" class="form-label">تقيم التقرير من  @Model.assessmentTypeDetail.RequiredMark </label>
                            <input asp-for="StudentMark"  type="number" id="uploadField" class="form-control"  />

                        </div>

                        <input asp-for="StudentSemesterEvaluationMarkId" hidden />
                        <input asp-for="SemesterStudentAndEvaluationDetail_DetailId" hidden />
                        <input asp-for="DepartmentAssessmentTypeDetail_DetailId" hidden />
                        <input asp-for="SupportiveDocumentsPath" hidden id="HasFile" />

                        <button type="submit" class="btn btn-primary" asp-route-StuRqId="@ViewBag.CurrentStuRqId" style="width:8vh">تقيم</button>
                    </form>

                </div>




            </div>

        </div>
        <div class="col-sm-1"></div>
    </div>
</body>


@section Scripts
    {

    <script>

        // ViewUploadShowfile();

         //function ViewUploadShowfile()

         //{

         //    if (document.getElementById('HasFile').value == "")
         //    {

         //        document.getElementById('form').style.display = "block";
         //        document.getElementById('filediv').style.display = "none";

         //    }else
         //    {
         //        document.getElementById('filediv').style.display = "block";
         //        document.getElementById('form').style.display = "none";
         //    }
         //}

    </script>
}

