@model SemesterStudentAndEvaluationDetail

@{
    ViewData["Title"] = " سجل المتابعة";
}

<head>

    <link rel="stylesheet" href="~/css/Addbranches.css" asp-append-version="true" />


</head>


<body style="background: linear-gradient(#1c4c64,#5590ad);">

    <div class="row">

        <div class="col-sm-3" style="z-index:2;">

            <div class="vertical-nav bg-white" id="sidebar">
                <div class="py-4 px-3 mb-4 bg-light">
                    <div class="media d-flex align-items-center">
                        <img src="~/@ViewBag.OrganizationImage" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
                        <div class="media-body">
                            <h4 class="m-0">@ViewBag.OrganizationName</h4>
                        </div>
                    </div>
                </div>
                <h5> مرحبا بك @ViewBag.Username </h5>
                <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">القائمة</p>

                <ul class="nav flex-column bg-white mb-0">
                    <li class="nav-item">
                        <a asp-controller="AcadmicSupervisor" asp-action="index" class="nav-link text-dark font-italic ">
                            <i class="fa-solid fa-house  mr-3  "></i>
                            الصفحة الرئيسية
                        </a>
                    </li>



                    <li class="nav-item">
                        <a asp-controller="AcadmicSupervisor" asp-action="AssignSemester" class="nav-link text-dark font-italic bg-light ">
                            <i class="fa-solid fa-users-rectangle text-primary fa-fw"></i>
                            الفصول المسجلة
                        </a>
                    </li>


                </ul>


            </div>


            <!-- End vertical navbar -->
            <!-- Page content holder -->
            <div class="page-content p-1" id="content">
                <!-- Toggle button -->
                <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">القائمة</small></button>
            </div>


        </div>

        <div class="col-sm-8">

            <div class="card" style="border-radius: 25px; margin-top:2cm; margin-bottom:3cm;  border-color:black;background-color:#f2f5fa">

                <div class="card">

                    <div class="card" style="background-color:#5590ad;">
                        <br />
                        <h3 style="text-align: center;color:white">سجل المتابعة للطالب</h3>

                    </div>
                    <br />

                    <div class="table-responsive p-0">

                        <table class="table table-borderless align-content-center table-light rounded">

                            <thead>
                                <tr>

                                    <th scope="col"><i class="fa-solid fa-check-to-slot"></i>&ensp;اجمالي درجات التقرير</th>
                                    <th scope="col"><i class="fa-solid fa-check-to-slot"></i>&ensp;درجة تقيم المشرف التدريبي</th>
                                    <th scope="col"><i class="fa-solid fa-clock"></i>&ensp;ساعات التدريب المكتملة </th>
                                    <th scope="col"><i class="fa-solid fa-pencil"></i>&ensp; ملاحظات المشرف</th>
                                </tr>
                            </thead>



                            <tbody class="table-group-divider">

                                <tr>

                                    <td>@Model.AcademicSupervisorEvaluationMark</td>
                                    @{

                                        var Tmark = "لم يتم تقييم الطالب بعد";

                                        if (Model.TrainingSupervisorEvaluationMark != null)
                                            Tmark = Model.TrainingSupervisorEvaluationMark.ToString();

                                    }

                                    <td>
                                        &ensp;
                                        @Tmark
                                    </td>

                                    @{
                                        var Thours = "لم يتم تحديد الساعات بعد";

                                        if (Model.CompletedStudyHour != null)
                                            Thours = Model.CompletedStudyHour.ToString();

                                    }

                                    <td>
                                        &ensp;
                                        @Thours
                                    </td>




                                    @{
                                        var TNote = "";

                                        if (Model.Notes != null)
                                            TNote = Model.Notes.ToString();

                                    }

                                    <td>
                                        &ensp;
                                        @TNote
                                    </td>
                                </tr>


                            </tbody>

                        </table>



                    </div>



                    <div class="table-responsive  p-0">

                        <table class="table table-borderless align-content-center table-light rounded">

                            <thead>
                                <tr>

                                    <th scope="col"><i class="fa-solid fa-user"></i>&ensp; اسم المشرف التدريبي</th>
                                    <th scope="col"><i class="fa-solid fa-envelope"></i>&ensp; البريد الالكتروني</th>

                                </tr>
                            </thead>



                            <tbody class="table-group-divider">
                                <tr>

                                    <td>
                                        &ensp;
                                        @Model.EmployeeTrainingSupervisor.userAcount.FullName
                                    </td>

                                    <td>
                                        &ensp;
                                        @Model.EmployeeTrainingSupervisor.userAcount.UserEmail
                                    </td>


                                </tr>


                            </tbody>

                        </table>



                    </div>
                    <br /><br />

                    @{
                        var ShowDoc = "none";
                        var showMsg = "block";
                        if (!String.IsNullOrEmpty(Model.TrainingSupervisorEvaluationFilePath))
                        {
                            ShowDoc = "block";
                            showMsg = "none";

                        }

                    }

                    <h5 style="">ملف التقيم المرفق من قبل المشرف:</h5>
                    <div class="container-fluid" id="filediv" style="display:@ShowDoc; height:50vh;">
                        <iframe src="~/@Model.TrainingSupervisorEvaluationFilePath" type="application/pdf" style="border:none; height:100%; width:100%"></iframe>
                    </div>



                    <h5 style="display:@showMsg; color:firebrick;">لا يوجد ملف مرفق.</h5>


                </div>

                <br />
                <div class="row">
                </div>

                <div class="container-fluid align-content-center">

                    <div class="col-md-12 text-center">
                        <a class="btn btn-secondary" href="@Url.Action("AssignedStudents",new {Mid = ViewBag.SSEMId})" id="BackButton">العودة للقائمة</a>
                        <button type="button" class="btn btn-dark" onclick="Confirm()">انهاء متابعة الطالب</button>
                    </div>
                </div>

                <br />

            </div>


        </div>

        <div class="col-sm-2"></div>

    </div>

</body>


@section Scripts
    {

    <script>

        // ViewUploadShowfile();

        function check() {

            var InputMark = document.getElementById("StudentMarkId").value;
            var MaxMark = document.getElementById("StudentMarkMax").value;

            if (parseInt(InputMark) < 0) {

                document.getElementById("Message").textContent = "الرجاء ادخال قيمة صحيحة";

                return;
            }

            if (InputMark == "") {

                document.getElementById("Message").textContent = "الرجاء ادخال درجة التقييم";

                return;
            }

            if (parseInt(InputMark) > parseInt(MaxMark)) {

                document.getElementById("Message").textContent = "الرجاء ادخال الدرجة مابين ال 0 و " + MaxMark;

                return;
            }

            document.getElementById("Message").textContent = "";

            document.getElementById("SubmitBtn").click();
        }



        function Confirm() {


            Swal.fire({
                title: 'تأكيد انهاء الطالب للتدريب.',
                text: "التأكيد سيكون بشكل نهائي الرجاء التحقق من جميع معلومات التقيم.",
                icon: 'info',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'تأكيد.!',
                cancelButtonText: 'الغاء',
            }).then((result) => {
                if (result.isConfirmed) {

                    $(document).ready(function () {

                        $.ajax({
                            type: "GET",
                            url: "@Url.Action("EndStudentTraining")",
                            data: { SSEMId: @ViewBag.SSEMId , StuRqId: @ViewBag.StuRqId },

                            dataType: "json",
                            success: function (data) {

                                if (data.success) {

                                    document.getElementById("BackButton").click();


                                }

                                if (!data.success) {

                                    Swal.fire({
                                        title: 'لا يمكن انهاء تدريب هذا الطالب بسبب عدم توفر تقيماته.',
                                        icon: 'error',
                                        confirmButtonText: 'موافق',

                                    });

                                }



                            }
                        });
                    });


                }
            })

        }



    </script>
}