@model TadarbProject.Models.ViewModels.OrganizationVM




<section class="section about-section gray-bg " id="about">
    <div class="container border border-secondary" dir="ltr">
        <div class="row align-items-center flex-row-reverse">

            <div class="col-lg-4">
                <div class="about-avatar">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" title="" alt="">
                </div>
            </div>



            <div class="col-lg-6  ">
                <div class="about-text go-to">
                    <br />
                    <h3 class="dark-color" style="text-align: right;">  <h3 class="dark-color" style="text-align: right;"> @(Model.organization.Organization_TypeId != 0 ? "جامعة " : "شركة ") @Model.organization.OrganizationName</h3> </h3>
                    <div class="row about-list">
                        <div class="col-md-6">
                            <div class="media">
                                <strong>السجل التجاري</strong>
                                <p>@Model.organization.CommercialRegistrationNumber </p>
                            </div>

                            <div class="media">
                                <strong>:الفرع الرئيسي للمنظمة</strong>
                                <p>@Model.CityListItems</p>
                            </div>


                            <div class="media">
                                <strong>البريد الإلكتروني</strong>
                                <p>@Model.userAcount.UserEmail</p>
                            </div>

                            <div class="media">
                                <strong>:رابط المنظمة</strong>
                                <br />
                                <a href="@Model.organization.OrganizationURL" >@Model.organization.OrganizationURL</a>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="media">
                                <strong>:المجال الرئيسي</strong>
                                <p> @Model.FieldListItems </p>
                            </div>
                            <div class="media">
                                <strong style="text-align: right;">:الدولة</strong>
                                <p  style="text-align: left;" >@Model.CountryListItems</p>
                            </div>


                            <div class="media">
                                <strong>:اسم المسؤول</strong>
                                <p>@Model.userAcount.FullName</p>
                            </div>

                            <div class="media">
                                <strong>:رقم الجوال</strong>
                                <p>@Model.userAcount.Phone</p>
                            </div>

                            <div class="media">
                                <strong>:موقع المنظمة</strong>
                                <p>@Model.organization.Location</p>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="counter">
            <div class="row">
                <div class="col-4 col-lg-3">
                    <div class="count-data text-center">
                        <a type="button" asp-controller="Admin" asp-action="RejectAccept" asp-route-id="@Model.organization.OrganizationId" class="btn btn-danger">رفض الطلب</a>

                    </div>
                </div>
                <div class="col-4 col-lg-3">
                    <div class="count-data text-center">
                        <a type="button"  asp-controller="Admin" asp-action="RequestAccept" asp-route-id="@Model.organization.OrganizationId" class="btn btn-success">قبول الطلب</a>
                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>

    </div>
    </div>
</section>