


<head>
	<title>Contact Form 02</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="css/style.css">
<script src="js/jquery.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/main.js"></script>
</head>

<body>
        
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
			
			</div>
			<div class="row justify-content-center">
				<div class="col-md-12">
					<div class="wrapper">
						<div class="row no-gutters">
							<div class="col-lg-8 col-md-7 order-md-last d-flex align-items-stretch">
								<div class="contact-wrap w-100 p-md-5 p-4">
									<div id="form-message-warning" class="mb-4"></div>
									<div id="form-message-success" class="mb-4">
										<label style="font-size:28px"> المجال الرئيسي للمنظمة :</label>
										<h5>الطب</h5>
										<h5> @Model.FieldListItems </h5>
									</div>

									<div id="form-message-success" class="mb-4">
										<label style="font-size:28px"> السجل التجاري :</label>


										<h5>@Model.organization.CommercialRegistrationNumber </h5>
									</div>

									<div id="form-message-success" class="mb-4">
										<label style="font-size:28px"> اسم المسؤول :</label>

										<h5>@Model.userAcount.FullName</h5>
									</div>

									<div id="form-message-success" class="mb-4">
										<label style="font-size:28px"> الفرع الرئيسي للمنظمة  :</label>

										<h5>@Model.CityListItems</h5>
									</div>

									<div id="form-message-success" class="mb-4">
										<label style="font-size:28px"> الدولة :</label>
										<h5> المملكة العربية السعودية</h5>
										<p style="text-align: left;">@Model.CountryListItems</h4>
									</div>

									<br /> <br /><br /> <br />
									<form method="POST" id="contactForm" name="contactForm" class="contactForm">
										<div class="row">
											
											
											<div class="col-md-12">
												<div class="form-group ">
													<a type="button" asp-controller="Admin" asp-action="RejectAccept" asp-route-id="@Model.organization.OrganizationId" class="btn btn-primary btn-lg">رفض الطلب</a>

													&nbsp;&nbsp;

													<a type="button" asp-controller="Admin" asp-action="RequestAccept" asp-route-id="@Model.organization.OrganizationId" class="btn btn-primary btn-lg">قبول الطلب</a>

												</div>
											</div>
										</div>
									</form>
								</div>
							</div>


							<div class="col-lg-4 col-md-5 d-flex align-items-stretch">
								<div class="info-wrap bg-primary w-100 p-md-5 p-4">

									<img src="https://bootdey.com/img/Content/avatar/avatar7.png" title="" alt="" style="background-position:center">
									<br /><br /><br />
									<h3 class="dark-color" style="text-align: center; "> <h3 class="dark-color" style="text-align: center;color:white;"> @(Model.organization.Organization_TypeId != 0 ? "جامعة " : "شركة ") @Model.organization.OrganizationName</h3> </h3>
									<br />
									<div class="dbox w-100 d-flex align-items-start">
										
										<div class="icon d-flex align-items-center justify-content-center " style="color:white;">
											<span class="fa fa-map-marker"></span>
										</div>
										&nbsp;&nbsp;&nbsp;

										<div class="text pl-3" style="color:white">
											
											<h4>@Model.organization.Location</h4>
										</div>
									</div>
									
									<div class="dbox w-100 d-flex align-items-center" style="color:white">
										<div class="icon d-flex align-items-center justify-content-center">
											<span class="fa fa-phone"></span>
										</div>
										&nbsp;&nbsp;&nbsp;
										<div class="text pl-3">
											<h4>@Model.userAcount.Phone</h4>
										</div>
									</div>


									<div class="dbox w-100 d-flex align-items-center" style="color:white">
										<div class="icon d-flex align-items-center justify-content-center">
											<span class="fa fa-paper-plane"></span>
										</div>
										&nbsp;&nbsp;&nbsp;
										<div class="text pl-3">
											<h4>@Model.userAcount.UserEmail</h4>
										</div>
									</div>

									<div class="dbox w-100 d-flex align-items-center" style="color:white">
										<div class="icon d-flex align-items-center justify-content-center">
											<span class="fa fa-globe"></span>
										</div>
										&nbsp;&nbsp;&nbsp;
										<div class="text pl-3">
											<a href="@Model.organization.OrganizationURL">@Model.organization.OrganizationURL</a>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br /> <br /><br /> <br /><br /> <br /><br />
	</section>
	</body>