@model TadarbProject.Models.ViewModels.OrganizationVM

<section class="section about-section gray-bg " id="about">
    <form>

    
    <div class="container border border-secondary" dir="ltr">
        <div class="row align-items-center flex-row-reverse">


              



            <div class="col-lg-6  ">
                <div class="about-text go-to">
                        <div class="about-avatar">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" title="" alt="" style="background-position:center">
                        </div>
                        <br />
                    <br />
                    <h3 class="dark-color" style="text-align: center;">  <h3 class="dark-color" style="text-align: center;"> @(Model.organization.Organization_TypeId != 0 ? "جامعة " : "شركة ") @Model.organization.OrganizationName</h3> </h3>
                    <div class="row about-list">
                            <div class="col-md-6" style="background-color:red">
                              



                            <div class="media">
                                    
                                        <div class="row">
                                        <div class="col-6 " >
                                                <h4>@Model.organization.CommercialRegistrationNumber </h4>
                                            </div>
                                            <div class="col-6 " >
                                                <p style="display:inline">: السجل التجاري</p>
                                        
                                        </div>
                                        </div>
                            </div>




                            <div class="media">
                                <strong><h3>:الفرع الرئيسي للمنظمة</h3></strong>
                                <h4>@Model.CityListItems</h4>
                            </div>


                            <div class="media">
                                <strong><h3>:موقع المنظمة</h3></strong>
                                <h4>@Model.organization.Location</h4>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        


            <div class="col-lg-6  ">


                <div class="media">
                    <strong><h3>البريد الإلكتروني</h3> </strong>
                    <h4>@Model.userAcount.UserEmail</h4>
                </div>

                <div class="media">
                    <strong><h3>:رابط المنظمة</h3></strong>
                    <br />
                    <a href="@Model.organization.OrganizationURL">@Model.organization.OrganizationURL</a>
                </div>
            

         
                <div class="media">
                    <strong><h3>:المجال الرئيسي</h3></strong>
                    <h4> @Model.FieldListItems </h4>
                </div>
                <div class="media">
                    <strong style="text-align: center;"><h3>:الدولة</h3></strong>
                    <p style="text-align: left;">@Model.CountryListItems</h4>
                </div>


                <div class="media">
                    <strong> <h3>:اسم المسؤول</h3></strong>
                    <h4>@Model.userAcount.FullName</h4>
                </div>

                <div class="media">
                    <strong><h3>:رقم الجوال</h3></strong>
                    <h4>@Model.userAcount.Phone</h4>
                </div>


        <div class="counter">
            <div class="row">
                <div class="col-4 col-lg-3">
                    <div class="count-data text-center">
                        <a type="button" asp-controller="Admin" asp-action="RejectAccept" asp-route-id="@Model.organization.OrganizationId" class="btn btn-danger">رفض الطلب</a>

                    </div>
                </div>
                <div class="col-4 col-lg-3">
                    <div class="count-data text-center">
                        <a type="button"  asp-controller="Admin" asp-action="RequestAccept" asp-route-id="@Model.organization.OrganizationId" class="btn btn-success">قبول الطلب</a>
                    </div>
                </div>
            </div>
        </div>
        <br />
    

    </div>
    </div>
        </div>

    </form>
</section>



