@model TadarbProject.Models.ViewModels.OrganizationVM

@{
	Layout = "_Layout";
}

<head>


		<link rel="stylesheet" href="~/css/boostwatch.css" />
		
	</head>

        
	<section class="section m-5">
		<div class="container">
			<div class="row justify-content-center">
			
			
			
				<div class="col-md-12">
					<div class="wrapper">
						<div class="row no-gutters">
							<div class="col-lg-8 col-md-7 order-md-last d-flex align-items-stretch">
								<div class="contact-wrap w-100 p-md-5 p-4">
									<div id="form-message-warning" class="mb-4"></div>
									<div id="form-message-success" class="mb-4">
										<label style="font-size:28px"> المجال الرئيسي للمنظمة :</label>
								
										<h5> @Model.FieldListItems.First().Text</h5>
									</div>

									<div id="form-message-success" class="mb-4">
										<label style="font-size:28px"> السجل التجاري :</label>


										<h5>@Model.organization.CommercialRegistrationNumber </h5>
									</div>

									<div id="form-message-success" class="mb-4">
										<label style="font-size:28px"> اسم المسؤول :</label>

										<h5>@Model.userAcount.FullName</h5>
									</div>

									<div id="form-message-success" class="mb-4">
										<label style="font-size:28px"> الفرع الرئيسي للمنظمة  :</label>

										<h5>@Model.CityListItems.First().Text</h5>
									</div>

									<div id="form-message-success" class="mb-4">
										<label style="font-size:28px"> الدولة :</label>
									<h5> @Model.CountryListItems.First().Text</h5>
										
									</div>

									<br /> <br /><br /> <br />
									<form method="POST" id="contactForm" name="contactForm" class="contactForm">
										<div class="row">
											
											
											<div class="col-md-12">
												<div class="form-group ">

												<a type="button" asp-controller="Admin" asp-action="RequestAccept" asp-route-id="@Model.organization.OrganizationId" class="btn btn-primary btn-lg">قبول الطلب</a>
													&nbsp;&nbsp;

												<a type="button" asp-controller="Admin" asp-action="RequestReject" asp-route-id="@Model.organization.OrganizationId" class="btn btn-secondary btn-lg">رفض الطلب</a>

												</div>
											</div>
										</div>
									</form>
								</div>
							</div>


							<div class="col-lg-4 col-md-5 d-flex align-items-stretch">
								<div class="info-wrap bg-primary w-100 p-md-5 p-4">

									<img src="~/@Model.organization.LogoPath" height="200" width="180" title="" alt="" style="position:center">
									<br /><br /><br />
									
								  @{
									if (Model.organization.Organization_TypeId == 1)
									{
										<h3 class="dark-color" style="color:white;"> جامعة: @Model.organization.OrganizationName </h3>

									}
									else
									{
										<h3 class="dark-color" style="color:white;"> شركة: @Model.organization.OrganizationName </h3>
									}

							      } 
									<br />
									<div class="dbox w-100 d-flex align-items-start">
										
										<div class="icon d-flex align-items-center justify-content-center " style="color:white;">
											<span class="fa fa-map-marker"></span>
										</div>
										&nbsp;&nbsp;&nbsp;

										<div class="text pl-3" style="color:white">
											
											<h5>@Model.organization.Location</h5>
										</div>
									</div>
									
									<div class="dbox w-100 d-flex align-items-center" style="color:white">
										<div class="icon d-flex align-items-center justify-content-center">
											<span class="fa fa-phone"></span>
										</div>
										&nbsp;&nbsp;&nbsp;
										<div class="text pl-3">
											<h5>@Model.userAcount.Phone</h5>
										</div>
									</div>


									<div class="dbox w-100 d-flex align-items-center" style="color:white">
										<div class="icon d-flex align-items-center justify-content-center">
											<span class="fa fa-paper-plane"></span>
										</div>
										&nbsp;&nbsp;&nbsp;
										<div class="text pl-3">
											<h5>@Model.userAcount.UserEmail</h5>
										</div>
									</div>

									<div class="dbox w-100 d-flex align-items-center" style="color:white">
										<div class="icon d-flex align-items-center justify-content-center">
											<span class="fa fa-globe"></span>
										</div>
										&nbsp;&nbsp;&nbsp;
										<div class="text pl-3">
											<h5>
											<a href="@Model.organization.OrganizationURL">@Model.organization.OrganizationURL</a>

											</h5>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		</div>

      </div>
		<br /> <br /><br /> <br /><br /> <br /><br />
	</section>
	