@model IEnumerable<StudentRequestOpportunity>
@{
    ViewData["Title"] = "قائمة المسؤولين  عن التدريب";
}

<head>

    <link rel="stylesheet" href="~/css/Addbranches.css" asp-append-version="true" />


</head>

<partial name="_Notification" />
<body style="background: linear-gradient(#1c4c64,#5590ad);">

    <div class="row" >

        <div class="col-sm-3" style="z-index:2;">

            <div class="vertical-nav bg-white" id="sidebar">
                <div class="py-4 px-3 mb-4 bg-light">
                    <div class="media d-flex align-items-center">
                        <img src="~/@ViewBag.OrganizationImage" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
                        <div class="media-body">
                            <h4 class="m-0">@ViewBag.OrganizationName</h4>
                        </div>
                    </div>
                </div>
                <h5> مرحبا بك @ViewBag.Username </h5>
                <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">القائمة</p>

                <ul class="nav flex-column bg-white mb-0">
                    <li class="nav-item">
                        <a asp-controller="DepartmentUniversity" asp-action="Index" class="nav-link text-dark font-italic  ">
                            <i class="fa-solid fa-house"></i>
                            الصفحة الرئيسية
                        </a>
                    </li>


                   <li class="nav-item">
                        <a asp-controller="DepartmentUniversity" asp-action="ViewAcademicSupervisors" class="nav-link text-dark font-italic  bg-light  ">
                            <i class="fa-solid fa-users-gear text-primary"></i>
                           إدارة المشرفين
                    </a>
                </li>
                   <li class="nav-item">
                    <a asp-controller="DepartmentUniversity" asp-action="ViewStudents" class="nav-link text-dark font-italic ">
                            <i class="fa-solid fa-user-graduate"></i>

                        إدارة الطلاب
                    </a>
                </li>
                    <li class="nav-item">
                        <a asp-controller="DepartmentUniversity" asp-action="ViewAssessment" class="nav-link text-dark font-italic ">
                            <i class="fa-solid fa-user-graduate"></i>

                            تحديد التقييمات
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="DepartmentUniversity" asp-action="ViewSemesters" class="nav-link text-dark font-italic ">
                            <i class="fa-solid fa-user-graduate"></i>

                            ادارة الفصول
                        </a>
                    </li>
                   
                </ul>


            </div>


            <!-- End vertical navbar -->
            <!-- Page content holder -->
            <div class="page-content p-1" id="content">
                <!-- Toggle button -->
                <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">القائمة</small></button>
            </div>


        </div>

        <div class="col-sm-8">
            <div class="card " style="border-radius: 25px; margin-top:2cm; margin-bottom:3cm; padding:5px 5px 5px 5px ; border-color:black;">
                <div class="card-header" style="text-align: center;">
                    <h3>@ViewBag.StudentName </h3>
                    <br />
                    <h3>@ViewBag.uninumber </h3>


                   

                </div>
                <div class="card-body">
                    <div class="table-responsive no-radius">


                        <a class="btn btn-primary float-start"  asp-action="ViewStudents"> الرجوع الى الخلف</a>

                        <table class="table table-hover table-center" style="font-size:18px">
                            <thead>
                                <tr>

                                    <th> تخصص الفرصة</th>
                                    <th> نوع التدريب</th>
                                    <th>اسم الجهه	</th>
                                    <th>بداية التدريب	</th>
                                    <th> نهاية التدريب	</th>
                                    <th class="text-center">حالة الطلب	</th>


                                </tr>
                            </thead>
                            <tbody>

                             



                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="text-nowrap">
                                            <div class="font-weight-600">
                                                <div class="font-weight-600 ">
                                                    @item.trainingOpportunity.DetailFiled.SpecializationName
                                                </div>

                                            </div>
                                        </td>
                                        <td class="text-nowrap"> @item.trainingOpportunity.trainingType.TypeName	</td>
                                          <td class="text-nowrap"> @item.trainingOpportunity.Branch.organization.OrganizationName	</td>
                                        <td class="text-nowrap"> @item.trainingOpportunity.StartDate.ToShortDateString()	</td>
                                        <td class="text-nowrap"> @item.trainingOpportunity.EndDate.ToShortDateString()	</td>
                                        <td class="text-center">

                                            @if (@item.DecisionStatus == "waiting")
                                            {
                                                <span class="badge bg-warning"> بانتظار موافقة الجهه </span>
                                            }
                                            @if (@item.DecisionStatus == "approved")
                                            {
                                                <span class="badge bg-success">تمت الموافقة</span>
                                            }

                                            @if (@item.DecisionStatus == "system disable")
                                            {
                                                <span class="badge bg-dark"> تم الالغاء من قبل النظام </span>
                                            }

                                            @if (@item.DecisionStatus == "rejected")
                                            {
                                                <span class="badge bg-danger"> تم الرفض </span>
                                            }

                                            @if (@item.DecisionStatus == "CancelBeforeApprove")
                                            {
                                                <span class="badge bg-danger"> تم الغاء الطلب من قبلك </span>
                                            }


                                        </td>


                                    </tr>

                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-1"></div>
    </div>
</body>
@section Scripts{



    <script>
        $(function () {
            // Sidebar toggle behavior
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
            });
        });

    </script>


    }