@model UniversityTraineeStudent



@{
    ViewData["Title"] = "الصفحة الرئيسية";
}

<head>

    <link rel="stylesheet" href="~/css/Addbranches.css" asp-append-version="true" />


</head>

<partial name="_Notification" />
<body style="background: linear-gradient(#5590ad,white);">

    <div class="row">

        <div class="col-sm-3" style="z-index:2;">

            <div class="vertical-nav bg-white" id="sidebar">
                <div class="py-4 px-3 mb-4 bg-light">
                    <div class="media d-flex align-items-center">
                        <img src="~/@ViewBag.OrganizationImage" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
                        <div class="media-body">
                            <h4 class="m-0">@ViewBag.OrganizationName</h4>
                        </div>
                    </div>
                </div>
                <h5> مرحبا بك @ViewBag.Username </h5>

                <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">القائمة</p>

                <ul class="nav flex-column bg-white mb-0">
                    <li class="nav-item">
                        <a asp-action="index" class="nav-link text-dark font-italic bg-light">
                            <i class="fa-solid fa-house text-primary"></i>
                            الصفحة الرئيسية
                        </a>
                    </li>

                    <li class="nav-item">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="color:black" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa-solid fa-bars-progress"></i>

                            إدارة الفرص

                        </a>
                        <div class="dropdown-menu" style="">

                            <a class="dropdown-item" asp-action="ViewOpportunities" style="color:black">عرض الفرص الجديدة </a>
                            <a class=" dropdown-item" asp-action="ViewOpportunitiesStatus" style="color:black"> عرض حالة القبول </a>

                        </div>

                    </li>

                    <li class="nav-item">
                        <a asp-controller="Student" asp-action="ViewAssignments" class="nav-link text-dark font-italic ">
                            <i class="fa-solid fa-file-circle-plus"></i>
                            ارفاق التقارير
                        </a>
                    </li>


                </ul>


            </div>


            <!-- End vertical navbar2 -->
            <!-- Page content holder2 -->
            <div class="page-content p-1" id="content">
                <!-- Toggle button2 -->
                <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">القائمة</small></button>
            </div>


        </div>



        <div class="col-sm-8">
            <form asp-action="EditAccount" method="get">
                <div class="card " style="border-radius: 25px;  margin-bottom:3cm; padding:5px 5px 5px 5px ; border-color:black; width:auto; height:auto;background-color:#eef3f6">
                    <div class="card" style="background-color:#5590ad;border-radius: 18px;
">
                        <br />
                        <h2 style="text-align: center;color:white">معلومات المتدرب</h2>
                        <input asp-for="@Model.TraineeId" hidden />

                        <button class="btn " style="text-align: right;" type="submit">  <i class="fa-solid fa-user-gear fa-2x" style="color: #ffffff;"></i></button>
                    </div>
                    <br />
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">

                                <div class="osahan-account-page-left shadow-sm bg-white h-100" style="border-radius: 25px;border-style:solid">

                                    <div class="osahan-user text-center">
                                        <div class="osahan-user-media">

                                            <div class="osahan-user-media-body">

                                                <br /><br /><br /><br /><br /><br /><br />

                                                <h4 class="mb-1" style="font-size:22px">@Model.user.FullName</h4>
                                                <br />
                                                <h4 class="mb-1">الرقم الجامعي</h4>

                                                <h5 class="mb-1" style="font-size:22px">@Model.UniversityStudentNumber</h5>
                                                <br />

                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>


                            <div class="col-md-9">
                                <div class="osahan-account-page-right  p-4 h-100" style="border-radius: 25px;border-color:#2a4856">
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade active show" id="payments" role="tabpanel" aria-labelledby="payments-tab">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="bg-white card payments-item mb-4 " style="border-radius: 25px;border-color:#5590ad">
                                                        <div class="gold-members p-4">
                                                            <a href="#">
                                                            </a>
                                                            <div class="media">
                                                                <div class="media-body">
                                                                    <a>
                                                                        <i class="icofont-visa icofont-4x"></i>
                                                                    </a>
                                                                    <a style="font-size:22px">
                                                                        <h4 class="mb-1">المعدل التراكمي:</h4>
                                                                        <h5 style="color:black"> @Model.GPA</h5>
                                                                    </a>

                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="col-md-6">
                                                    <div class="bg-white card payments-item mb-4 " style="border-radius: 25px;border-color:#5590ad">
                                                        <div class="gold-members p-4">
                                                            <a href="#">
                                                            </a>
                                                            <div class="media">
                                                                <div class="media-body">
                                                                    <a>
                                                                        <i class="icofont-mastercard icofont-4x"></i>
                                                                    </a>
                                                                    <a style="font-size:22px">
                                                                        <h4 class="mb-1">القسم :</h4>
                                                                        <h5>@Model.department.DepartmentName</h5>
                                                                    </a>

                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="row pt-2 pb-2">
                                                <div class="col-md-6">
                                                    <div class="bg-white card payments-item mb-4 " style="border-radius: 25px;border-color:#5590ad">
                                                        <div class="gold-members p-4">
                                                            <a href="#">
                                                            </a>
                                                            <div class="media">
                                                                <div class="media-body">
                                                                    <a href="#">
                                                                        <i class="icofont-american-express icofont-4x"></i>
                                                                    </a>
                                                                    <a style="font-size:22px">
                                                                        <h4 class="mb-1">الايميل الجامعي:</h4>
                                                                        <h5 style="color:black">@Model.user.UserEmail</h5>
                                                                    </a>

                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="bg-white card payments-item mb-4 " style="border-radius: 25px;border-color:#5590ad">
                                                        <div class="gold-members p-4">
                                                            <a href="#">
                                                            </a>
                                                            <div class="media">
                                                                <div class="media-body">
                                                                    <a href="#">
                                                                        <i class="icofont-mastercard icofont-4x"></i>
                                                                    </a>
                                                                    <a style="font-size:22px">
                                                                        <h4 class="mb-1">عدد الساعات :</h4>
                                                                        <h5 style="color:black">@Model.CompletedHours</h5>
                                                                    </a>

                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="bg-white card payments-item mb-4 " style="border-radius: 25px;border-color:#5590ad">
                                                        <div class="gold-members p-4">
                                                            <a href="#">
                                                            </a>
                                                            <div class="media">
                                                                <div class="media-body">
                                                                    <a href="#">
                                                                        <i class="icofont-visa icofont-4x"></i>
                                                                    </a>
                                                                    <a style="font-size:22px">
                                                                        <h4 class="mb-1">المدينة:</h4>
                                                                        <h5>@Model.user.City.Country.CountryName , @Model.user.City.CityName</h5>
                                                                    </a>

                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="col-md-6">
                                                    <div class="bg-white card payments-item mb-4  " style="border-radius: 25px;border-color:#5590ad">
                                                        <div class="gold-members p-4">
                                                            <a href="#">
                                                            </a>
                                                            <div class="media">
                                                                <div class="media-body">
                                                                    <a href="#">
                                                                        <i class="icofont-mastercard icofont-4x"></i>
                                                                    </a>
                                                                    <a style="font-size:22px">
                                                                        <h4 class="mb-1">المشرف الاكاديمي :</h4>
                                                                        <h5>@ViewBag.AcadmicSuper</h5>
                                                                    </a>

                                                                </div>
                                                            </div>


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>

            </form>


            <div class="col-sm-1"></div>

        </div>

    </div>
</body>
@section Scripts{


    <script>
        $(function () {
            // Sidebar toggle behaviorr
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
            });
        });

    </script>


    }