@model UniversityTraineeStudent



@{
    ViewData["Title"] = "الصفحة الرئيسية";
}

<head>

    <link rel="stylesheet" href="~/css/Addbranches.css" asp-append-version="true" />


</head>

<partial name="_Notification" />
<body style="background: linear-gradient(#1c4c64,#5590ad);">

    <div class="row">

        <div class="col-sm-3" style="z-index:2;">

            <div class="vertical-nav bg-white" id="sidebar">
                <div class="py-4 px-3 mb-4 bg-light">
                    <div class="media d-flex align-items-center">
                        <img src="~/@ViewBag.OrganizationImage" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
                        <div class="media-body">
                            <h4 class="m-0">@ViewBag.OrganizationName</h4>
                        </div>
                    </div>
                </div>
                <h5> مرحبا بك @ViewBag.Username </h5>

                <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">القائمة</p>

                <ul class="nav flex-column bg-white mb-0">
                    <li class="nav-item">
                        <a asp-action="index" class="nav-link text-dark font-italic bg-light">
                            <i class="fa-solid fa-house text-primary"></i>
                            الصفحة الرئيسية
                        </a>
                    </li>

                    <li class="nav-item">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>

                            إدارة الفرص

                        </a>
                        <div class="dropdown-menu" style="">

                            <a class="dropdown-item" asp-action="ViewOpportunities">عرض الفرص الجديدة </a>
                            <a class=" dropdown-item" asp-action="ViewOpportunitiesStatus"> عرض حالة القبول </a>

                        </div>

                    </li>

                    <li class="nav-item">
                        <a asp-controller="Student" asp-action="ViewAssignments" class="nav-link text-dark font-italic ">
                            <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
                            ارفاق التقارير
                        </a>
                    </li>


                </ul>


            </div>


            <!-- End vertical navbar2 -->
            <!-- Page content holder2 -->
            <div class="page-content p-1" id="content">
                <!-- Toggle button2 -->
                <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">القائمة</small></button>
            </div>


        </div>



        <div class="col-sm-6">
            <form asp-action="EditAccount" method="get">
                <div class="card " style="border-radius: 25px;  margin-bottom:3cm; padding:5px 5px 5px 5px ; border-color:black; width:auto; height:auto;">
                    <div class="card-header">
                        <h3 style="text-align: center;">معلومات المتدرب</h3>
                        <input asp-for="@Model.TraineeId" hidden />

                        <button class="btn " style="text-align: right;" type="submit">  <i class="fa-solid fa-user-gear fa-2x"></i></button>
                    </div>
                    <br />
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">

                                <div class="osahan-account-page-left shadow-sm bg-white h-100">
                                    <div class="border-bottom p-4">
                                        <div class="osahan-user text-center">
                                            <div class="osahan-user-media">

                                                <div class="osahan-user-media-body">

                                                    <br /><br /><br /><br /><br /><br /><br />
                                                    <h6 class="mb-2"></h6>
                                                    <p class="mb-1" style="font-size:22px">@Model.user.FullName</p>
                                                    <p class="mb-1" style="font-size:22px">@Model.UniversityStudentNumber</p>
                                                    <p class="mb-1" style="font-size:22px">@Model.user.UserEmail</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="nav nav-tabs flex-column border-0 pt-4 pl-4 pb-4" id="myTab" role="tablist">
                                    </ul>
                                </div>
                            </div>


                            <div class="col-md-9">
                                <div class="osahan-account-page-right shadow-sm bg-white p-4 h-100">
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade active show" id="payments" role="tabpanel" aria-labelledby="payments-tab">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="bg-white card payments-item mb-4 shadow-sm">
                                                        <div class="gold-members p-4">
                                                            <a href="#">
                                                            </a>
                                                            <div class="media">
                                                                <div class="media-body">
                                                                    <a>
                                                                        <i class="icofont-visa icofont-4x"></i>
                                                                    </a>
                                                                    <a style="font-size:22px">
                                                                        <h class="mb-1">التخصص:</h>
                                                                        <p>نظم معلومات</p>
                                                                    </a>

                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="col-md-6">
                                                    <div class="bg-white card payments-item mb-4 shadow-sm">
                                                        <div class="gold-members p-4">
                                                            <a href="#">
                                                            </a>
                                                            <div class="media">
                                                                <div class="media-body">
                                                                    <a>
                                                                        <i class="icofont-mastercard icofont-4x"></i>
                                                                    </a>
                                                                    <a style="font-size:22px">
                                                                        <h class="mb-1">القسم :</h>
                                                                        <p>@Model.department.DepartmentName</p>
                                                                    </a>

                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="row pt-2 pb-2">
                                                <div class="col-md-6">
                                                    <div class="bg-white card payments-item mb-4 shadow-sm">
                                                        <div class="gold-members p-4">
                                                            <a href="#">
                                                            </a>
                                                            <div class="media">
                                                                <div class="media-body">
                                                                    <a href="#">
                                                                        <i class="icofont-american-express icofont-4x"></i>
                                                                    </a>
                                                                    <a style="font-size:22px">
                                                                        <h class="mb-1">المعدل التراكمي:</h>
                                                                        <p>@Model.GPA</p>
                                                                    </a>

                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="bg-white card payments-item mb-4 shadow-sm">
                                                        <div class="gold-members p-4">
                                                            <a href="#">
                                                            </a>
                                                            <div class="media">
                                                                <div class="media-body">
                                                                    <a href="#">
                                                                        <i class="icofont-mastercard icofont-4x"></i>
                                                                    </a>
                                                                    <a style="font-size:22px">
                                                                        <h class="mb-1">عدد الساعات :</h>
                                                                        <p>@Model.CompletedHours</p>
                                                                    </a>

                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="bg-white card payments-item mb-4 shadow-sm">
                                                        <div class="gold-members p-4">
                                                            <a href="#">
                                                            </a>
                                                            <div class="media">
                                                                <div class="media-body">
                                                                    <a href="#">
                                                                        <i class="icofont-visa icofont-4x"></i>
                                                                    </a>
                                                                    <a style="font-size:22px">
                                                                        <h class="mb-1">المدينة:</h>
                                                                        <p>@Model.user.City.Country.CountryName , @Model.user.City.CityName</p>
                                                                    </a>

                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="col-md-6">
                                                    <div class="bg-white card payments-item mb-4 shadow-sm">
                                                        <div class="gold-members p-4">
                                                            <a href="#">
                                                            </a>
                                                            <div class="media">
                                                                <div class="media-body">
                                                                    <a href="#">
                                                                        <i class="icofont-mastercard icofont-4x"></i>
                                                                    </a>
                                                                    <a style="font-size:22px">
                                                                        <h class="mb-1">المشرف الاكاديمي :</h>
                                                                        <p>@Model.department.User.FullName</p>
                                                                    </a>

                                                                </div>
                                                            </div>


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>

            </form>


            <div class="col-sm-3"></div>

        </div>

    </div>
</body>
@section Scripts{


    <script>
        $(function () {
            // Sidebar toggle behaviorr
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
            });
        });

    </script>


    }


