@model TrainingOpportunityVM



@{
    ViewData["Title"] = "معلومات الفرصة";
}

<head>

    <link rel="stylesheet" href="~/css/Addbranches.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/boostwatch.css" />


</head>

<partial name="_Notification" />
<body style="background: linear-gradient(#1c4c64,#5590ad); background-repeat: no-repeat;
            background-size: cover;
            height: 100vh; width: 100vw; /*padding:50px 5px 5px 5px;*/">

    <div class="row">

        <div class="col-sm-4" style="z-index:2;">

            <div class="vertical-nav bg-white" id="sidebar">
                <div class="py-4 px-3 mb-4 bg-light">
                    <div class="media d-flex align-items-center">
                        <img src="~/@ViewBag.OrganizationImage" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
                        <div class="media-body">
                            <h4 class="m-0">@ViewBag.OrganizationName</h4>
                        </div>
                    </div>
                </div>
                <h5> مرحبا بك @ViewBag.Username </h5>

                <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">القائمة</p>


                <ul class="nav flex-column bg-white mb-0">
                    <li class="nav-item">
                        <a asp-controller="" asp-action="" class="nav-link text-dark font-italic bg-light">
                            <i class="fa-solid fa-house text-primary"></i>
                            الصفحة الرئيسية
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="" asp-action="" class="nav-link text-dark font-italic ">
                            <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
                            إدارة الاقسام
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="" asp-action="" class="nav-link text-dark font-italic ">
                            <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
                            ارفاق التقارير
                        </a>
                    </li>

                </ul>




            </div>


            <!-- End vertical navbar -->
            <!-- Page content holder -->
            <div class="page-content p-1" id="content">
                <!-- Toggle button -->
                <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">القائمة</small></button>
            </div>


        </div>

        <div class="col-sm-8">


            @*   <form method="post">
            <div class="card  container pt-4">
            <div class="card-header bg-primary text-light ml-0  row ">
            <div class="col-12 col-md-6">
            <h1 class="text-white-50">@Model.product.Title</h1>
            <p class="text-warning">by @Model.product.Author</p>
            </div>
            <div class="col-12 col-md-6 text-end pt-4">
            <span class="badge bg-info pt-2" style="height:30px;">@Model.product.CoverType.Name</span>
            <span class="badge bg-warning pt-2" style="height:30px;">@Model.product.Category.Name</span>
            </div>
            </div>
            <div class="card-body row container">
            <div class="container rounded p-2">
            <div class="row">
            <div class="col-8 col-lg-8">

            <div class="row pl-2">
            <h5 class="text-muted">ISBN : @Model.product.ISBN</h5>
            </div>
            <div class="row pl-2">
            <h5 class="text-muted pb-2">List Price: <strike>@Model.product.ListPrice.ToString("c")</strike></h5>
            </div>
            <div class="row text-center pl-2">
            <div class="p-1 col-2 bg-secondary border-bottom">
            <div>Quantity</div>
            </div>
            <div class="p-1 col-2 bg-secondary border-bottom">
            <div>1-50</div>
            </div>
            <div class="p-1 col-2 bg-secondary border-bottom">
            <div>51-100</div>
            </div>
            <div class="p-1 col-2 bg-secondary border-bottom">
            <div>100+</div>
            </div>
            </div>
            <div class="row text-center pl-2" style="color:maroon; font-weight:bold">
            <div class="p-1 col-2 bg-secondary">
            <div>Price</div>
            </div>
            <div class="p-1 col-2 bg-secondary">
            <div>@Model.product.Price.ToString("c")</div>
            </div>
            <div class="p-1 col-2 bg-secondary">
            <div>@Model.product.Price50.ToString("c")</div>
            </div>
            <div class="p-1 col-2 bg-secondary">
            <div>@Model.product.Price100.ToString("c")</div>
            </div>
            </div>
            <div class="row pl-2">
            <p class="text-secondary">@Model.product.Description</p>
            </div>
            <div class="row pl-2">
            <div class="col-2 text-primary"><h4>Count</h4></div>
            <div class="col-10"><input asp-for="@Model.Count" class="form-control" /></div>
            </div>
            </div>
            <div class="col-12 col-lg-3 offset-lg-1 text-center">
            <img src="~/@Model.product.ImageUrl" width="100%" class="rounded" />
            </div>
            </div>
            </div>
            </div>
            <div class="card-footer">
            <div class="row">
            <div class="col-12 col-md-6 pb-1">
            <a asp-action="Index" class="btn btn-success form-control " style="height:50px;">Back to home</a>
            </div>
            <div class="col-12 col-md-6 pb-1">
            <button type="submit" value="Add to Cart" class="btn btn-primary form-control" style="height:50px;">Add to Cart</button>
            </div>
            </div>
            </div>
            </div>
            </form>

            *@
        </div>

    </div>





  

    @* <div class="col-sm-2"></div>
    </div>*@
   
</body>

@section Scripts{



    <script>
        $(function () {
            // Sidebar toggle behavior
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
            });
        });

    </script>


    }
