@model TrainingOpportunityVM



@{
    ViewData["Title"] = "معلومات الفرصة";
}

<head>

    <link rel="stylesheet" href="~/css/Addbranches.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/boostwatch.css" />


</head>

<partial name="_Notification" />
<body style="background: linear-gradient(#1c4c64,#5590ad); ">

    <div class="row">

        <div class="col-sm-2" style="z-index:2;">

            <div class="vertical-nav bg-white" id="sidebar">
                <div class="py-4 px-3 mb-4 bg-light">
                    <div class="media d-flex align-items-center">
                        <img src="~/@ViewBag.OrganizationImage" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
                        <div class="media-body">
                            <h4 class="m-0">@ViewBag.OrganizationName</h4>
                        </div>
                    </div>
                </div>
                <h5> مرحبا بك @ViewBag.Username </h5>

                <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">القائمة</p>


                <ul class="nav flex-column bg-white mb-0">
                    <li class="nav-item">
                        <a asp-action="index" class="nav-link text-dark font-italic ">
                            <i class="fa-solid fa-house "></i>
                            الصفحة الرئيسية
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle bg-light" style="color:black" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa-solid fa-bars-progress text-primary"></i>

                            إدارة الفرص

                        </a>
                        <div class="dropdown-menu" style="">

                            <a class="dropdown-item" asp-action="ViewOpportunities" style="color:black">عرض الفرص الجديدة </a>
                            <a class=" dropdown-item" asp-action="ViewOpportunitiesStatus" style="color:black"> عرض حالة القبول </a>

                        </div>

                    </li>

                    <li class="nav-item">
                        <a asp-controller="Student" asp-action="ViewAssignments" class="nav-link text-dark font-italic ">
                            <i class="fa-solid fa-file-circle-plus"></i>
                            ارفاق التقارير
                        </a>
                    </li>






                </ul>




            </div>


            <!-- End vertical navbar -->
            <!-- Page content holder -->
            <div class="page-content p-1" id="content">
                <!-- Toggle button -->
                <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">القائمة</small></button>
            </div>


        </div>

        <div class="col-sm-8" style="margin-right:2cm">

            <form method="post">
                <div class="card  container ">
                    <div class="card-header  ml-0  row " style="background-color:#325D73">
                        <div class="col-12 col-md-6 text-end pt-4" style="color:white">
                            <h5>
                                التخصص:
                                @Model.TrainingOpportunity.DetailFiled.SpecializationName
                            </h5>

                        </div>
                        <div class="col-12 col-md-6 text-end pt-4" style="color:white">
                            <h5>نوع التدريب:  @Model.TrainingOpportunity.trainingType.TypeName</h5>

                        </div>
                    </div>
                    <div class="card-body row container">
                        <div class="container rounded p-2">
                            <div class="row">
                                <div class="col-12 col-lg-3 offset-lg-1 text-center">
                                    <img src="~/@Model.TrainingOpportunity.Branch.organization.LogoPath" title="" alt="" style="position:center; width:100%; height:auto">
                                </div>
                                <div class="col-8 col-lg-8">

                                    <div class="row text-center pl-2 " style="font-size:18px">
                                        <div class="p-1 col-3 bg-secondary border-bottom">
                                            <div>بدايةالتدريب :</div>
                                        </div>
                                        <div class="p-1 col-3 bg-secondary border-bottom">
                                            <div>نهاية التدريب :</div>
                                        </div>
                                        <div class="p-1 col-3 bg-secondary border-bottom">
                                            <div>عدد المقاعدالمتاحة:  </div>
                                        </div>
                                        <div class="p-1 col-3 bg-secondary border-bottom">
                                            <div>المدينة: </div>
                                        </div>
                                    </div>

                                    <div class="row text-center pl-2" style="color:darkslateblue; font-weight:bold; font-size:17px">
                                        <div class="p-1 col-3 bg-secondary">
                                            <div>@Model.TrainingOpportunity.StartDate.ToShortDateString()</div>
                                        </div>
                                        <div class="p-1 col-3 bg-secondary">
                                            <div>@Model.TrainingOpportunity.EndRegisterDate.ToShortDateString()</div>
                                        </div>
                                        <div class="p-1 col-3 bg-secondary">
                                            <div>@Model.TrainingOpportunity.AvailableOpportunities</div>
                                        </div>
                                        <div class="p-1 col-3 bg-secondary">
                                            <div>
                                                @Model.TrainingOpportunity.Branch.city.Country.CountryName ,
                                                @Model.TrainingOpportunity.Branch.city.CityName
                                            </div>
                                        </div>
                                    </div>



                                    <div class="row text-center pl-2" style="font-size:18px">
                                        <div class="p-1 col-3 bg-secondary border-bottom">
                                            <div>بدايةالتقديم:</div>
                                        </div>
                                        <div class="p-1 col-3 bg-secondary border-bottom">
                                            <div>نهايةالتقديم:</div>
                                        </div>
                                        <div class="p-1 col-3 bg-secondary border-bottom">
                                            <div>عدد الاسابيع:</div>
                                        </div>
                                        <div class="p-1 col-3 bg-secondary border-bottom">
                                            <div>عدد الساعات:</div>
                                        </div>
                                    </div>

                                    <div class="row text-center pl-2" style="color:darkslateblue; font-weight:bold; font-size:17px">
                                        <div class="p-1 col-3 bg-secondary">
                                            <div>@Model.TrainingOpportunity.StartRegisterDate.ToShortDateString()</div>
                                        </div>
                                        <div class="p-1 col-3 bg-secondary">
                                            <div>@Model.TrainingOpportunity.EndRegisterDate.ToShortDateString()</div>
                                        </div>
                                        <div class="p-1 col-3 bg-secondary">
                                            <div>@Model.TrainingOpportunity.MinimumWeeks</div>
                                        </div>
                                        <div class="p-1 col-3 bg-secondary">
                                            <div>@Model.TrainingOpportunity.MinimumHours</div>
                                        </div>
                                    </div>
                                    <br /><br />



                                </div>


                            </div>

                            <div class="row pl-2   ">
                                <p class="text-secondary h5">وصف الفرصة:</p>
                                <p> @Model.TrainingOpportunity.OpportunityDescription</p>
                            </div>
                            <br /><br /><br />
                            <div class="row pl-2  h5">
                                <p class="text-secondary">الموقع :</p>

                                <div style="height:28vh; width:100%;" id="map"></div>
                            </div>
                        </div>
                    </div>


                    <br />
                    <div class="card-footer align-content-center">
                        <div class="row ">
                            <div class="col-md-12">
                                <br />
                                <input asp-for="TrainingOpportunity.TrainingOpportunityId" hidden />




                                <div class="form-group  text-xxl-center">

                                    <button id="ActualButton" type="submit" asp-controller="Student" asp-action="RequsetOnOpportunity" style="font-size:20px;  display:none" class="btn btn-primary btn-lg">التسجيل بالفرصة</button>


                                    <button type="button" style="font-size:20px;" class="btn btn-primary btn-lg" onclick="confirm()">التسجيل بالفرصة</button>
                                    &nbsp;&nbsp;

                                    <button type="submit" asp-controller="Student" asp-action="index" class=" btn  btn-lg" style="background-color:gray; color:black;font-size:20px; border-radius:40;">الرجوع للخلف</button>

                                </div>

                            </div>

                        </div>
                        <br />
                    </div>
                </div>
            </form>
        </div>



    </div>
    <br />
    <br />





    <div class="col-sm-2"></div>
    </div>

</body>

@section Scripts{



    <script>
        $(function () {
            // Sidebar toggle behavior
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
            });
        });



        var log = @Model.TrainingOpportunity.Branch.Location.Split(',').First();
        var lat = @Model.TrainingOpportunity.Branch.Location.Split(',').Last();


        const MapLatAndLng = { lat: log, lng: lat }

        function initMap() {


            map = new google.maps.Map(document.getElementById("map"), {
                center: MapLatAndLng,
                zoom: 15, disableDefaultUI: true

            });





            marker = new google.maps.Marker({
                position: MapLatAndLng,
                map,
                title: "موقع مكان التدريب",
            });

        }


        function c() {
            var bt = document.getElementById("ActualButton");

            bt.click()
        }

        function confirm() {

            Swal.fire({
                title: 'تاكيد التسجيل',
                text: "",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'نعم , تاكيد التسجيل !',
                cancelButtonText: 'الغاء'
            }).then((result) => {

                if (result.isConfirmed) {
                    c();
                }

            })
        }

    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnE545dObN0paZx1wsNqm5TaWx3DkVj7g&callback=initMap&v=weekly&language=ar&region=SA"
            defer></script>
    }
