@model TrainingOpportunityVM



@{
    ViewData["Title"] = "معلومات الفرصة";
}

<head>

    <link rel="stylesheet" href="~/css/Addbranches.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/boostwatch.css" />


</head>

<partial name="_Notification" />
<body style="background: linear-gradient(#1c4c64,#5590ad); background-repeat: no-repeat;
            background-size: cover;
            height: 100vh; width: 100vw; /*padding:50px 5px 5px 5px;*/">

    <div class="row">

        <div class="col-sm-4" style="z-index:2;">

            <div class="vertical-nav bg-white" id="sidebar">
                <div class="py-4 px-3 mb-4 bg-light">
                    <div class="media d-flex align-items-center">
                        <img src="~/@ViewBag.OrganizationImage" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
                        <div class="media-body">
                            <h4 class="m-0">@ViewBag.OrganizationName</h4>
                        </div>
                    </div>
                </div>
                <h5> مرحبا بك @ViewBag.Username </h5>

                <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">القائمة</p>


                <ul class="nav flex-column bg-white mb-0">
                    <li class="nav-item">
                        <a asp-controller="" asp-action="" class="nav-link text-dark font-italic bg-light">
                            <i class="fa-solid fa-house text-primary"></i>
                            الصفحة الرئيسية
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="" asp-action="" class="nav-link text-dark font-italic ">
                            <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
                            إدارة الاقسام
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="" asp-action="" class="nav-link text-dark font-italic ">
                            <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
                            ارفاق التقارير
                        </a>
                    </li>

                </ul>




            </div>


            <!-- End vertical navbar -->
            <!-- Page content holder -->
            <div class="page-content p-1" id="content">
                <!-- Toggle button -->
                <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">القائمة</small></button>
            </div>


        </div>

        <div class="col-sm-8">

            <div class="wrapper">
                <div class="row no-gutters">
                    <div class="col-lg-5 col-md-5 d-flex align-items-stretch " style="color:white;">
                        <div class="info-wrap   p-md-5 p-4">
                            <div class="col-12">

                                <div class="dbox  w-100 d-flex align-items-start">
                                    <img src="/images/AppImages/log.png" width="100%" height="100%" title="" alt="" style="position:center">
                                    <br /><br /><br />
                                </div>
                            </div>
                            <div class=" bg-primary info-wrap w-200  p-md-5 p-4" style="background-color:#dfebf2 ">
                                <div class="dbox w-150 d-flex  align-items-start">
                                    @* {
                                    if (Model.organization.Organization_TypeId == 1)
                                    {
                                    <h3 class="dark-color" style="color:white;"> جامعة: @Model.o.OrganizationName </h3>

                                    }
                                    else
                                    {
                                    <h3 class="dark-color" style="color:white;"> شركة: @Model.OrganizationCompany.OrganizationName </h3>
                                    }

                                    }*@
                                </div>
                                <br />
                               
                                <div class="dbox w-100 d-flex align-items-center">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <i class="fa-solid fa-chalkboard-user"></i>
                                    </div>
                                    &nbsp;&nbsp;&nbsp;
                                    <div class="text pl-3">
                                        <h5>نوع التدريب: @*@Model.TrainingOpportunity.TrainingType_TrainingTypeId*@</h5>
                                    </div>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <i class="fa-solid fa-chart-gantt"></i>
                                    &nbsp;&nbsp;&nbsp;
                                    <div class="text pl-3">
                                        <h5>التخصص: @*@Model.TrainingOpportunity.DetailFiled_DetailFiledId*@</h5>
                                    </div>
                                </div>



                                <div class="dbox w-100 d-flex align-items-center">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <i class="fa-solid fa-calendar-day"></i>
                                    </div>
                                    &nbsp;&nbsp;&nbsp;
                                    <div class="text pl-3">
                                        <h5>
                                            <h5>بدايةالتقديم: @*@Model.TrainingOpportunity.StartRegisterDate*@</h5>

                                        </h5>
                                    </div>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <i class="fa-solid fa-calendar-day"></i>
                                    &nbsp;&nbsp;&nbsp;
                                    <div class="text pl-3">
                                        <h5>
                                            <h5>نهايةالتقديم: @*@Model.TrainingOpportunity.EndRegisterDate*@</h5>

                                        </h5>
                                    </div>

                                </div>

                                 <div class="dbox w-100 d-flex align-items-center">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <i class="fa-solid fa-users"></i>
                                    </div>
                                    &nbsp;&nbsp;&nbsp;
                                    <div class="text pl-3">
                                        <h5>
                                            <h5>عدد المقاعد: </h5>

                                        </h5>
                                    </div>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <i class="fa-solid fa-earth-europe"></i>
                                    &nbsp;&nbsp;&nbsp;
                                    <div class="text pl-3">
                                        <h5>
                                            <h5>المدينة: </h5>

                                        </h5>
                                    </div>

                                </div>

                                <div class="dbox w-100 d-flex align-items-center">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <i class="fa-solid fa-calendar-week"></i>
                                    </div>
                                    &nbsp;&nbsp;&nbsp;
                                    <div class="text pl-3">
                                        <h5>
                                            <h5>بداية التدريب: </h5>

                                        </h5>
                                    </div>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <i class="fa-solid fa-calendar-week"></i>
                                    &nbsp;&nbsp;&nbsp;
                                    <div class="text pl-3">
                                        
                                        <h5>
                                            <h5>نهاية التدريب: </h5>

                                        </h5>
                                    </div>

                                </div>

                                <div class="dbox w-100 d-flex align-items-center">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <i class="fa-solid fa-calendar-day"></i>
                                    </div>
                                    &nbsp;&nbsp;&nbsp;
                                    <div class="text pl-3">
                                        <h5>
                                            <h5>عدد الاسابيع: </h5>

                                        </h5>
                                    </div>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <i class="fa-regular fa-clock"></i>
                                    &nbsp;&nbsp;&nbsp;
                                    <div class="text pl-3">
                                        <h5>
                                            <h5>عدد الساعات: </h5>

                                        </h5>
                                    </div>

                                </div>

                                <div class="dbox w-100 d-flex align-items-center">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <i class="fa-regular fa-file-lines"></i>
                                    </div>
                                    &nbsp;&nbsp;&nbsp;
                                    <div class="text pl-3">
                                        <h5>
                                            <h5>وصف الفرصة: </h5>

                                        </h5>
                                    </div>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    

                                </div>
                                <br /><br /><br /><br /><br /><br />

                                <form method="POST" id="contactForm" name="contactForm" class="contactForm">
                                    <div class="row">


                                        <div class="col-md-12">
                                            <div class="form-group ">

                                                <a type="button" style="font-size:20px" @*asp-controller="" asp-action="RequestAccept" asp-route-id="@Model.organization.OrganizationId"*@ class="btn btn-primary btn-lg">قبول الطلب</a>
                                                &nbsp;&nbsp;

                                                <a type="button" style="font-size:20px" @*asp-controller="Admin" asp-action="RequestReject" asp-route-id="@Model.organization.OrganizationId"*@ class="btn btn-secondary btn-lg">رفض الطلب</a>

                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    
           
                        </div>
                    </div>

                </div>

            </div>





        </div>

        @* <div class="col-sm-2"></div>
        </div>*@
    </div>
</body>
@section Scripts{



    <script>
        $(function () {
            // Sidebar toggle behavior
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
            });
        });

    </script>


    }
