@{
    ViewData["Title"] = "الصفحة الرئيسية";
}

<head>

    <link rel="stylesheet" href="~/css/Addbranches.css" asp-append-version="true" />


</head>

<body style="background: linear-gradient(#1c4c64,#5590ad);">

    <div class="row">

        <div class="col-sm-3" style="z-index:2;">

            <div class="vertical-nav bg-white" id="sidebar">
                <div class="py-4 px-3 mb-4 bg-light">
                    <div class="media d-flex align-items-center">
                        <img src="~/@ViewBag.OrganizationImage" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
                        <div class="media-body">
                            <h4 class="m-0">@ViewBag.OrganizationName</h4>
                        </div>
                    </div>
                </div>
                <h5> مرحبا بك @ViewBag.Username </h5>

                <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">القائمة</p>

                <ul class="nav flex-column bg-white mb-0">
                    <li class="nav-item">
                        <a asp-action="index" class="nav-link text-dark font-italic ">
                            <i class="fa-solid fa-house "></i>
                            الصفحة الرئيسية
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle bg-light" style="color:black" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa-solid fa-bars-progress text-primary"></i>

                            إدارة الفرص

                        </a>
                        <div class="dropdown-menu" style="">

                            <a class="dropdown-item" asp-action="ViewOpportunities" style="color:black">عرض الفرص الجديدة </a>
                            <a class=" dropdown-item" asp-action="ViewOpportunitiesStatus" style="color:black"> عرض حالة القبول </a>

                        </div>

                    </li>

                    <li class="nav-item">
                        <a asp-controller="Student" asp-action="ViewAssignments" class="nav-link text-dark font-italic ">
                            <i class="fa-solid fa-file-circle-plus"></i>
                            ارفاق التقارير
                        </a>
                    </li>






                </ul>


            </div>


            <!-- End vertical navbar2 -->
            <!-- Page content holder2 -->
            <div class="page-content p-1" id="content">
                <!-- Toggle button2 -->
                <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">القائمة</small></button>
            </div>


        </div>

        <div class="col-sm-8">


            <div class="row " style="color:black; background-color:#f2f5fa;border-radius: 20px;">

                <h2 style="text-align:center;margin-top:1cm">الفرص المتاحة</h2>

                <div class="col-sm-2">

                    <label for="CountryName" class="form-label mt-4" style="font-size:20px;">الدولة</label>
                    <select asp-items="@ViewBag.CountryListItems" class="form-select" id="CountryNameID" required>
                        <option selected disabled value="">--الدولة--</option>

                    </select>
                    <br />

                   
                    <br /><br />
                </div>

                <div class="col-sm-2">
                    <label for="CityNameID" class="form-label mt-4" style="font-size:20px;">الفرع الرئيسي</label>
                    <select class="form-select" id="CityNameID" name="CityNameID" required>
                    </select>
                </div>

                <div class="col-sm-2">
                    <label for="DetailFiledId" class="form-label mt-4" style="font-size:20px;">التخصص </label>

                    <select asp-items="@ViewBag.DepartmentDetailFileds" class="form-select" id="DetailFiledId" name="DetailFiledId" required>

                        <option selected disabled value="">--التخصص--</option>

                    </select>
                </div>

                <div class="form-group  text-xxl-left">
                    <button id="b1" class="btn btn-secondary" onclick="Search()" style="background-color:#e6e291"><i class="fa-solid fa-magnifying-glass"></i> بحث</button> &ensp;

                    <button id="b2" class="btn btn-primary" onclick="Clear()"><i class="fa-solid fa-reply-all"></i> إظهار الكل</button>
                    </div>
                <input id="SelectedCityId" hidden />

                <input id="SelectedDetailFiledId" hidden />
                <div class="col-sm-2 ">
                </div>
                <br />
            </div>



            <br />
            <div class="row pb-3" style="z-index:1;" id="ConBody">

                @*      @foreach (var item in Model)
                {
                <div class="col-lg-4 col-md-8">
                <div class="row p-2">

                <div class="col-12 p-1" style="border:1px solid #008cba; border-radius:5px;">
                <div class="card" id="card">

                <img src="~/@item.Department.organization.LogoPath" class="card-img-top rounded" width="150" height="130" />
                <div class="card-body">
                <div class="pl-1">
                <p class="card-title">
                <h4 style="width:auto ;font-size:20px">@item.DetailFiled.SpecializationName</h4>
                </p>
                <br>
                <p class="card-title h5 " style="color:#1c4c64">
                عدد المقاعد المتاحة: <b>@item.AvailableOpportunities</b>
                </p>
                </div>
                <br>
                <div class="pl-1 h5">
                <p>
                بداية التدريب:  <b>@item.StartDate.ToShortDateString()</b>
                </p>

                <p>
                نهاية التدريب:  <b>@item.EndDate.ToShortDateString()</b>
                </p>
                <p>
                نهاية فترة التسجيل:  <b>@item.EndRegisterDate.ToShortDateString()</b>

                </p>
                </div>
                </div>

                <div>
                <a asp-controller="Student" asp-action="OpportunityInformation" asp-route-id="@item.TrainingOpportunityId" class=" btn form-control " style="background-color:#B8B474; color:black;  font-size:20px; border-radius:40;">التفاصيل </a>
                </div>

                </div>
                </div>

                </div>

                </div>
                }
                *@


            </div>




        </div>
        <div class="col-sm-1"></div>
    </div>
</body>
@section Scripts{



    <script>
        $(function () {
            // Sidebar toggle behaviorr
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
            });
        });

        var City = 0;

        var DetailFiled = 0;

        FillOpp(City, DetailFiled);

        $('#CountryNameID').on('change', function () {



            FillCity(this.value);
        });


        function FillCity(CId) {


            $(document).ready(function () {
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetCities")",
                    data: { id: CId },

                    dataType: "json",
                    success: function (data) {
                        var s = '<option selected disabled value="">--مدينة الفرع الرئيسي--</option>';

                        for (var i = 0; i < data.cities.length; i++) {
                            s += '<option value="' + data.cities[i].cityId + '">' + data.cities[i].cityName + '</option>';
                        }

                        $("#CityNameID").html(s);

                        $('#CityNameID').attr('hidden', false);
                    }
                });
            });


        }

        $('#CityNameID').on('change', function () {


            var d = document.getElementById("SelectedCityId").value = this.value;


        });


        $('#DetailFiledId').on('change', function () {


            var d = document.getElementById("SelectedDetailFiledId").value = this.value;



        });




        function Search() {

            City = parseInt(document.getElementById("SelectedCityId").value);
            DetailFiled = parseInt(document.getElementById("SelectedDetailFiledId").value);
            FillOpp(City, DetailFiled);
        }


        function Clear() {

            City = 0;
            DetailFiled = 0;

            FillOpp(City, DetailFiled);
        }

        function FillOpp(CId, DfId) {

            $(document).ready(function () {
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetOpportunities")",
                    data: { CityID: CId, DetailFiledId: DfId }, dataType: "json",

                    success: function (data) {
                        var Con = "";

                        if (data.exists) {

                            for (var i = 0; i < data.opportunities.length; i++) {
                                //console.log(data.opportunities[i].startDate.toString("MM-dd-yyyy"));
                                //console.log(data.opportunities[i].startDate.toDateString());


                                Con += `<div class="col-lg-4 col-md-8">
                                                                                     <div class="row p-2">
                                                                                      <div class="col-12 p-1" style="border:1px solid #008cba; border-radius:5px;">
                                                                                      <div class="card" id="card">
                                                                                                              <img src="/${data.opportunities[i].department.organization.logoPath}" class="card-img-top rounded" width="150" height="130"/>
                                                                                       <div class="card-body">
                                                                                       <div class="pl-1">
                                                                                        <p class="card-title">
                                                                                                 <h4 style="width:auto ;font-size:20px">${data.opportunities[i].detailFiled.specializationName}</h4></p>
                                                                                                    <br>
                                                                                          <p class="card-title h5" style="color:#1c4c64">
                                                                                                                   عدد المقاعد المتاحة: <b>${data.opportunities[i].availableOpportunities}</b></p></div>
                                                                                                <br>
                                                                                                <div class="pl-1 h5">
                                                                                                    <p>
                                                                                         بداية التدريب:  <b>${data.opportunities[i].startDate.substr(0, 10)} </b>
                                                                                                    </p>

                                                                                                    <p>
                                                                                                                                        نهاية التدريب:  <b>${data.opportunities[i].endDate.substr(0, 10)}</b>
                                                                                                    </p>
                                                                                                    <p>
                                                                                                                                        نهاية فترة التسجيل:  <b>${data.opportunities[i].endRegisterDate.substr(0, 10)}</b>

                                                                                                    </p>

                                                                                                </div>

                                                                                            </div>

                                                                                            <div>
                                                                                            <a  href="/Student/OpportunityInformation/?id=${data.opportunities[i].trainingOpportunityId}" class="btn form-control" style="background-color:#B8B474; color:black;  font-size:20px; border-radius:40;">التفاصيل</a>
                                                                                            </div>

                                                                                        </div>
                                                                                    </div>

                                                                                </div>

                                                                            </div>
                                                                                    `;

                            }

                        }

                        if (!data.exists) {
                            Con = `<div class="alert alert-dark d-flex align-items-center" role="alert">
                           <i class="bi bi-exclamation-circle-fill"></i>
                      <div>
                                                      لا توجد فرص متاحة تناسب ${data.message}.
                              </div>
                    </div>`
                        }


                        $("#ConBody").html(Con);


                    }
                });
            });

        }

    </script>


    }

