@model IEnumerable<StudentRequestOpportunity>
@{
    ViewData["Title"] = "حالة التقديم على الفرص ";
}

<head>

    <link rel="stylesheet" href="~/css/Addbranches.css" asp-append-version="true" />


</head>

<partial name="_Notification" />
<body style="background: linear-gradient(#1c4c64,#5590ad);">

    <div class="row" >

        <div class="col-sm-3" style="z-index:2;">

            <div class="vertical-nav bg-white" id="sidebar">
                <div class="py-4 px-3 mb-4 bg-light">
                    <div class="media d-flex align-items-center">
                        <img src="~/@ViewBag.OrganizationImage" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
                        <div class="media-body">
                            <h4 class="m-0">@ViewBag.OrganizationName</h4>
                        </div>
                    </div>
                </div>
                <h5> مرحبا بك @ViewBag.Username </h5>
                <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">القائمة</p>

                <ul class="nav flex-column bg-white mb-0">
                    <li class="nav-item">
                        <a asp-action="index" class="nav-link text-dark font-italic">
                            <i class="fa-solid fa-house"></i>
                            الصفحة الرئيسية
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>

                            إدارة الفرص

                        </a>
                        <div class="dropdown-menu" style="">

                            <a class="dropdown-item" asp-action="ViewOpportunities">عرض الفرص الجديدة </a>
                            <a class=" dropdown-item" asp-action="ViewOpportunitiesStatus"> عرض حالة القبول </a>

                        </div>

                    </li>

                    <li class="nav-item">
                        <a asp-controller="" asp-action="" class="nav-link text-dark font-italic ">
                            <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
                            ارفاق التقارير
                        </a>
                    </li>






                </ul>


            </div>


            <!-- End vertical navbar -->
            <!-- Page content holder -->
            <div class="page-content p-1" id="content">
                <!-- Toggle button -->
                <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">القائمة</small></button>
            </div>


        </div>

        <div class="col-sm-8">
            <div class="card " style="border-radius: 25px; margin-top:2cm; margin-bottom:3cm; padding:5px 5px 5px 5px ; border-color:black;">
                <div class="card-header" style="text-align: center;">
                    <h3>حالة التقديم على الفرص</h3>




                </div>
                <div class="card-body">
                    <div class="table-responsive no-radius">

                        <table class="table table-hover table-center" style="font-size:18px">
                            <thead>
                                <tr>

                                    <th>اسم الشركة</th>
                                    <th>اسم الفرغ </th>
                                    <th>تخصص الفرصة</th>
                                    <th> تاريخ التقديم على الفرصة</th>
                                    <th>تاريح بداية التدريب </th>

                                    <th class="text-center">حالة الطلب 	</th>

                                    <th class="text-center">الغاء الطلب  	</th>


                                    <th class="text-center">قبول الطلب   	</th>
                                </tr>
                            </thead>
                            <tbody>





                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="text-nowrap">
                                            <div class="font-weight-600">
                                                <div class="font-weight-600 ">
                                                    @item.trainingOpportunity.Branch.organization.OrganizationName
                                                </div>

                                            </div>
                                        </td>
                                        <td class="text-nowrap"> @item.trainingOpportunity.Branch.BranchName	</td>
                                        <td class="text-nowrap"> @item.trainingOpportunity.DetailFiled.SpecializationName	</td>
                                        <td class="text-nowrap"> @item.RequestDate.ToShortDateString()	</td>
                                        <td class="text-nowrap"> @item.trainingOpportunity.StartDate.ToShortDateString()	</td>
                                        <td class="text-center">

                                            @if (@item.DecisionStatus == "waiting")
                                            {
                                                <span class="badge bg-warning"> بانتظار موافقة الجهه </span>
                                            }
                                            @if (@item.DecisionStatus == "approved")
                                            {
                                                <span class="badge bg-success">تمت الموافقة</span>
                                            }

                                            @if (@item.DecisionStatus == "system disable")
                                            {
                                                <span class="badge bg-dark"> تم الالغاء من قبل النظام </span>
                                            }

                                            @if (@item.DecisionStatus == "rejected")
                                            {
                                                <span class="badge bg-danger"> تم الرفض </span>
                                            }

                                            @if (@item.DecisionStatus == "CancelBeforeApprove" || @item.DecisionStatus == "CancelAftereApprove")
                                            {
                                                <span class="badge bg-danger"> تم الغاء الطلب من قبلك </span>
                                            }

                                            @if (@item.DecisionStatus == "waitingStudentApprove")
                                            {
                                                <span class="badge bg-info"> 
                                                    @{
                                                        var datelift = DateTime.Now.Date - item.DecisionDate ;
                                                        string day = "";

                                                        if (item.DecisionDate == DateTime.Now.Date.AddDays(-3))
                                                        {
                                                           day = "0";
                                                        }

                                                        if (item.DecisionDate == DateTime.Now.Date.AddDays(-2))
                                                        {
                                                            day = "يوم واحد";
                                                        }

                                                        if (item.DecisionDate == DateTime.Now.Date.AddDays(-1))
                                                        {
                                                            day = "يومان";
                                                        }

                                                        if (item.DecisionDate == DateTime.Now.Date)
                                                        {
                                                            day = "ثلاثة ايام";
                                                        }


                                            
                                                     
                                                    }




                                                    في انتظار موافقك متاحه لمدة @day
                                                </span>
                                            }



                                        
                                        </td>

                                        <td class="text-center">



                                            <button type="button" class="btn" onclick="Cancel(@item.StudentRequestOpportunityId,'@item.DecisionStatus')" style="background-color:#e6e291;">
                                                <i class="fa-regular fa-rectangle-xmark"></i>
                                            </button>

                                        </td>

                                        <td class="text-center">



                                            <button type="button" class="btn" onclick="Approval(@item.StudentRequestOpportunityId,'@item.DecisionStatus')" style="background-color:#e6e291;">
                                                <i class="fa-regular fa-square-check"></i>
                                            </button>

                                        </td>
                                    </tr>

                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-1"></div>
    </div>
</body>
@section Scripts{



    <script>
        $(function () {
            // Sidebar toggle behavior
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
            });
        });




        function Cancel(Id, BEOrAF) {

            console.log(BEOrAF);

            if (BEOrAF == "waiting") {
                CancelBefor(Id);
                return;
            }

            if (BEOrAF == "waitingStudentApprove") {
                CancelAfter(Id);
                return;
            }

            else {

                Swal.fire(
                    'الخيار هذا غير متاحة لهاذه الفرصة',
                    '',
                    ''
                )
            }

        }



        function CancelBefor(Id) {

            Swal.fire({
                title: 'تأكيد الالغاء',
                text: "",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'تأكيد.!',
                cancelButtonText: 'الغاء',
            }).then((result) => {
                if (result.isConfirmed) {




                    $.ajax({
                        url: "@Url.Action("StudentCancelBefore")",
                        type: 'POST',
                        data: { id: Id },

                        success: function (data) {





                            window.location.replace('//localhost:7122/Student/ViewOpportunitiesStatus');







                        }


                    });



                }
            })


        }


        function CancelAfter(Id) {

            Swal.fire({
                title: 'تأكيد الالغاء',
                text: "",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'تأكيد.!',
                cancelButtonText: 'الغاء',
            }).then((result) => {
                if (result.isConfirmed) {




                    $.ajax({
                        url: "@Url.Action("StudentCancelAfter")",
                        type: 'POST',
                        data: { id: Id },

                        success: function (data) {





                            window.location.replace('//localhost:7122/Student/ViewOpportunitiesStatus');







                        }


                    });



                }
            })


        }


        function Approval(Id, BEOrAF) {


            console.log(BEOrAF);

            if (BEOrAF == "waitingStudentApprove") {
                        ActualApproval(Id);
                return;
            }

            else {

                Swal.fire(
                    'الخيار هذا غير متاحة لهاذه الفرصة',
                    '',
                    ''
                )
            }

        }


        function ActualApproval(Id ) {


            Swal.fire({
                title: 'تأكيد القبول',
                text: "القبول سيكون نهائي.",
                icon: 'info',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'تأكيد.!',
                cancelButtonText: 'الغاء',
            }).then((result) => {
                if (result.isConfirmed) {




                    $.ajax({
                        url: "@Url.Action("Approval")",
                        type: 'POST',
                        data: { id: Id },

                        success: function (data) {





                            window.location.replace('//localhost:7122/Student/ViewOpportunitiesStatus');







                        }


                    });



                }
            })

        }


    </script>


    }